# Demo

## Setup

In [53]:
import IPython
import IPython.display as disp

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def clear():
    disp.clear_output(wait = True)

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os):
    output([
            disp.Markdown('---'), 
            disp.Markdown('# Results')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

In [54]:
import sys

!{sys.executable} -m pip install --quiet --user pandas
!{sys.executable} -m pip install --quiet --user -r requirements.txt

In [55]:
from dcollect.plugins import fasthttp

from dcollect import api_tiktok as tiktok
from dcollect import api_youtube as youtube
from dcollect import api_youtubei as youtubei

import pandas as pd


modules = {'http': fasthttp()}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
}

def df_report_from_json(items):
    df = pd.json_normalize(items, sep = '.')

    results_report([
        disp.Markdown('## Data Preview'),
        df.head(),
        disp.Markdown('## Stats'),
        df.describe()
    ])

## Data Collection

### YouTube (United States)

Initial setup. Be sure to have your API key ready. For details on how to obtain an API key, read [YouTube Data API Overview, Introduction: Before you start](https://developers.google.com/youtube/v3/getting-started#before-you-start).

In [56]:
count = 10
# This key is for testing ONLY. DO NOT release to the public!
api_key_testing = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'
api_key = api_key_testing or input('YouTube Data API Key: ')

Create a YouTube Web API object.

In [57]:
youtube_o = youtube.api(
    modules = modules,
    headers = headers,
    key = api_key
)

#### Categories

In [58]:
items = youtube_o.categories()

df_report_from_json(list(items))

---

# Results

## Data Preview

   id             title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

## Stats

        id   title
count   32      32
unique  32      31
top     42  Comedy
freq     1       2

---

#### Trending

In [59]:
items = youtube_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,tags,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality,category.id
0,Fbr55An8VPI,HIGHLIGHTS | Canelo Alvarez vs. Avni Yildirim,"February 27th, 2021 -- Canelo Alvarez vs. Avni...",2021-02-28 04:39:19+00:00,0 days 00:08:06,"[dazn, boxing, highlights, full fight, ko, kno...",UCurvRE5fGcdUgCYWgh-BDsg,39239,3892,7456.0,2933849,HD,17
1,p0GUZVU_TTU,Welcome To Our New House,Subscribe: http://bit.ly/SubToRoman\r\nWelcome...,2021-02-27 19:35:40+00:00,0 days 00:11:49,"[Roman, Atwood, The Atwoods, Brittney, Family,...",UC-SV8-bUJfXjrRMnp7F8Wzw,268684,2949,34718.0,3140799,HD,22
2,l-ETi70TbxI,I bought $1000 worth of Bootleg merch,Buy dat merch. But not dat merch. I'm upset an...,2021-02-28 18:56:39+00:00,0 days 00:06:23,"[Bootleg merch, merch, Animation, Boot, leg, s...",UCvUmwreRrbxeR1mbmojj8fg,58807,628,7168.0,447587,HD,23
3,n2e3R3Fbl3w,I am NOT Ferran's Father...(Truth Revealed) | ...,I am NOT Ferran's Father...(Truth Revealed) Al...,2021-02-28 16:33:25+00:00,0 days 00:14:48,"[The Royalty Family, Royalty Family, Andrea Es...",UCja7QUMRG9AD8X2F_vXFb9A,181776,5262,NaN,2118303,HD,22
4,vAbdZemOkiA,The Problem with Cheetahs,Check out The Secret Life of Cheetahs on Curio...,2021-02-28 15:59:07+00:00,0 days 00:08:17,None,UCHsRtomD4twRf5WVHHk-cMw,67013,395,5694.0,734490,HD,27

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,10,10.00000,10.000000,9.000000,1.000000e+01
mean,0 days 00:14:24,100992.60000,2148.200000,9911.555556,1.646355e+06
std,0 days 00:10:18.879273813,74507.24239,1690.669479,9567.336922,1.010435e+06
min,0 days 00:04:05,39073.00000,395.000000,2797.000000,4.475870e+05
25%,0 days 00:08:03,51810.25000,485.500000,5694.000000,7.003568e+05
50%,0 days 00:10:03,69647.50000,2186.000000,7456.000000,1.782242e+06
75%,0 days 00:18:48,126513.50000,3081.000000,8982.000000,2.293506e+06
max,0 days 00:36:56,268684.00000,5262.000000,34718.000000,3.140799e+06

---

#### Info

In [60]:
items = youtube_o.video.info(
    id = ['tH2tKigOPBU', '_uwNDiU04zE']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,tags,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality,category.id
0,tH2tKigOPBU,Mars Rover Landing Overview- NOW SAFE ON MARS!!!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,None,UCY1kMZp36IQSyNx_9h4mpCg,495462,4809,35315,9247149,HD,28
1,_uwNDiU04zE,Press Subscribe For....,Subscribe and I'll Donate $0.10 To Charity\nPl...,2021-02-13 21:00:01+00:00,0 days 00:11:59,None,UCX6OQ3DkcsbYNE6H8uQQuVA,1978493,15345,145168,24782009,HD,24

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,2,2.000000e+00,2.000000,2.000000,2.000000e+00
mean,0 days 00:14:38.500000,1.236978e+06,10077.000000,90241.500000,1.701458e+07
std,0 days 00:03:45.567063198,1.048661e+06,7450.077047,77677.801234,1.098480e+07
min,0 days 00:11:59,4.954620e+05,4809.000000,35315.000000,9.247149e+06
25%,0 days 00:13:18.750000,8.662198e+05,7443.000000,62778.250000,1.313086e+07
50%,0 days 00:14:38.500000,1.236978e+06,10077.000000,90241.500000,1.701458e+07
75%,0 days 00:15:58.250000,1.607735e+06,12711.000000,117704.750000,2.089829e+07
max,0 days 00:17:18,1.978493e+06,15345.000000,145168.000000,2.478201e+07

---

#### Search

In [61]:
items = youtube_o.video.search(
    count = count,
    keyword = ''
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,tags,creator.id
0,hhwwCrm4iCw,"NBA Top 10 Plays Of The Night | February 20, 2021",Check out the top 10 plays of the night from F...,2021-02-21 07:07:57+00:00,None,UCWJ2lWNubArHWmf3FIHbfcQ
1,F4plEk_iufY,UFC Vegas 19: Derrick Lewis - &quot;I Like The...,UFC heavyweight contender Derrick Lewis talks ...,2021-02-21 04:53:39+00:00,None,UCvgfXK4nTYKudb0rFR6noLA
2,PL3_SgjHhQwwL5deWscrUnGVxPtPjC2e8Q,nutella Ice Cream Rolls,nutella Ice Cream Rolls There are different wa...,2018-04-08 11:12:42+00:00,None,UCAon55hNT6ESbdQ5y1hRWTA
3,tHJLvOiROxI,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) &#39;Life Goes On&#39; (Video Call...,Connect with BTS: https://ibighit.com/bts http...,2021-02-20 10:20:05+00:00,None,UCLkAepWjdylmXSltofFvsYQ
4,VD88tRnIigI,Arsenal v. Manchester City | PREMIER LEAGUE HI...,Want more Premier League? Check out Peacock Pr...,2021-02-21 19:13:19+00:00,None,UCqZQlzSHbVJrwrn5XvzrzcA

## Stats

,id,title,description,time,tags,creator.id
count,10,10,10,10,0,10
unique,10,10,10,10,0,10
top,W8jfBsKpYnI,Hawks Give Up Wide Open Dunk Game Winner vs Ca...,A pol√™mica da rodada foi a expuls√£o do lateral...,2021-02-21 04:53:39+00:00,NaN,UCnzbVkknmqhRqUKg7RDTDeg
freq,1,1,1,1,NaN,1
first,NaN,NaN,NaN,2018-04-08 11:12:42+00:00,NaN,NaN
last,NaN,NaN,NaN,2021-02-24 13:38:11+00:00,NaN,NaN

---

#### Channels

In [62]:
items = youtube_o.channel.info(
    id = ['UC8Zo5A8qICfNAzVGDY_VT7w', 'UC0VOyT2OCBKdQhF3BAbZ-1g']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,stats.follower,stats.view,stats.post
0,UC8Zo5A8qICfNAzVGDY_VT7w,MALINDA,Hello friends! I am a singer/songwriter/actor...,2012-03-01 18:12:44+00:00,310000,20314751,76
1,UC0VOyT2OCBKdQhF3BAbZ-1g,ArianaGrandeVevo,Listen & download positions: https://arianagra...,2010-10-21 23:38:49+00:00,18100000,16203597447,134

## Stats

       stats.follower    stats.view  stats.post
count    2.000000e+00  2.000000e+00    2.000000
mean     9.205000e+06  8.111956e+09  105.000000
std      1.257943e+07  1.144331e+10   41.012193
min      3.100000e+05  2.031475e+07   76.000000
25%      4.757500e+06  4.066135e+09   90.500000
50%      9.205000e+06  8.111956e+09  105.000000
75%      1.365250e+07  1.215778e+10  119.500000
max      1.810000e+07  1.620360e+10  134.000000

---

## YouTube Internals

In [63]:
youtubei_o = youtubei.api(
    modules = modules,
    headers = headers
)

### Video Ads

In [64]:
items = youtubei_o.ad.placements(
    id = ['ur560pZKRfg', '_uwNDiU04zE']
)

res = []

for item in items:
    has_ad = False
    has_ad_at_beginning = False

    if not item == None:
        has_ad = True
        for ad in item['ads']:
            if ad['kind'] == youtubei.api.ad.kinds.START:
                has_ad_at_beginning = True
                break
    
    res.append({
        'id': item['id'],
        'has_ad': has_ad,
        'has_ad_at_beginning': has_ad_at_beginning
    })
    
df_report_from_json(res)

---

# Results

## Data Preview

            id  has_ad  has_ad_at_beginning
0  _uwNDiU04zE    True                 True
1  ur560pZKRfg    True                 True

## Stats

                 id has_ad has_ad_at_beginning
count             2      2                   2
unique            2      1                   1
top     _uwNDiU04zE   True                True
freq              1      2                   2

---

### TikTok (United States)

In [65]:
count = 10

tiktok_o = tiktok.api(
    modules = modules,
    headers = headers
)

#### Trending

In [66]:
items = tiktok_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,description,time,length,tags,creator.id,creator.title,creator.description,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share,video.quality
0,6925559746128907526,The house on the left is Owned by #IceDerulo. ...,2021-02-04 15:49:07,0 days 00:00:17,"[, icederulo]",21609287,Jason Derulo,‚ÄúLifestyle‚Äù OUT NOW\nBooking Frank@23-manageme...,43500000,21,1914,992700000,651,2200000,12800,19700000,12000,HD
1,6932953172717686022,Reply to @therussiansoldier1 indeed,2021-02-24 13:59:22,0 days 00:00:52,[],6770811947673404422,Spice King,thank you for 10.1M ‚ú®\nofficialspiceking@gmail...,10100000,666,18000,304000000,336,1600000,16200,8700000,2382,HD
2,6925850612991151365,The moment your life flashes before yourüëÄ,2021-02-05 10:37:47,0 days 00:00:51,None,6813560925275128838,Kris HC,Daily Subpar Content\nüá®üá¶\nKris@henrytalents.co...,23900000,1350,14400,964100000,992,8100000,51000,32700000,96200,HD
3,6904810145583287557,TY @tiredmamateacher !!,2020-12-10 17:50:07,0 days 00:00:13,[],6604157541621252101,Moonpie,Moonpie Starbox\nüëÄüëá,4000000,1610,5402,46600000,374,1600000,19600,21500000,184500,HD
4,6909894241112050949,When mom gets mad at you for being a burrito #...,2020-12-24 10:38:57,0 days 00:00:20,"[mom, burrito, public, walmart, immaburrito]",6757815847807566853,AMYYWOAHH,IMMA BURRITO \nDANG IT !!\nbusiness inquires->...,11200000,18,3788,482700000,1019,930100,19100,6300000,3647,HD

## Stats

,length,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share
count,10,1.000000e+01,10.000000,10.000000,1.000000e+01,10.000000,1.000000e+01,10.000000,1.000000e+01,10.000000
mean,0 days 00:00:41.700000,1.422197e+07,536.400000,6828.000000,3.764900e+08,602.300000,2.796630e+06,25271.700000,1.687000e+07,111742.000000
std,0 days 00:00:19.020748904,1.273862e+07,563.796102,6741.991084,3.522535e+08,564.960382,2.409834e+06,14305.809543,9.620701e+06,174217.799179
min,0 days 00:00:13,4.197000e+05,18.000000,181.000000,4.600000e+06,31.000000,7.362000e+05,5417.000000,3.200000e+06,1924.000000
25%,0 days 00:00:23,5.525000e+06,103.000000,2008.500000,1.057250e+08,162.750000,1.600000e+06,16925.000000,1.017500e+07,4802.000000
50%,0 days 00:00:51.500000,1.135000e+07,400.500000,4379.500000,3.061500e+08,502.500000,1.900000e+06,21550.000000,1.585000e+07,17900.000000
75%,0 days 00:00:57.750000,1.925000e+07,670.500000,12150.500000,4.467500e+08,906.750000,2.500000e+06,30800.000000,2.105000e+07,162425.000000
max,0 days 00:00:59,4.350000e+07,1610.000000,18000.000000,9.927000e+08,1841.000000,8.100000e+06,51000.000000,3.270000e+07,544100.000000

---

## !! EXAMPLE BREAK: Data wrangling

### Videos

Coming soon