# Demo

## Setup

In [16]:
import IPython
import IPython.display as disp

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def clear():
    disp.clear_output(wait = True)

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os):
    output([
            disp.Markdown('---'), 
            disp.Markdown('# Results')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

In [36]:
import sys

!{sys.executable} -m pip install --user pandas
!{sys.executable} -m pip install --user -r requirements.txt

Requirement already satisfied: pandas in /home/rexjo/.local/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /home/rexjo/.local/lib/python3.6/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/rexjo/.local/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /home/rexjo/.local/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: requests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 1)) (2.25.1)
Requirement already satisfied: grequests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 2)) (0.6.0)
Requirement already satisfied: python-dateutil in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 3)) (2.8.1)
Requirement already satisfied: isodate in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: quickjs in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 5)) (1.15.1)
Requirement already satisfied: lxml in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 6)) (4.6.2)
Requirement already satisfied: gevent in /home/rexjo/.local/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 2)) (21.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/site-packages (from isodate->-r requirements.txt (line 4)) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (1.26.3)
Requirement already satisfied: greenlet<2.0,>=0.4.17 in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 2)) (1.0.0)
Requirement already satisfied: setuptools in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 2)) (53.0.0)
Requirement already satisfied: zope.event in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 2)) (4.5.0)
Requirement already satisfied: zope.interface in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 2)) (5.2.0)

In [18]:
from dcollect.plugins import fasthttp

from dcollect import api_tiktok as tiktok
from dcollect import api_youtube as youtube
from dcollect import api_youtubei as youtubei

import pandas as pd

In [19]:
modules = {'http': fasthttp()}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
}

def df_report_from_json(items):
    df = pd.json_normalize(items, sep = '.')

    results_report([
        disp.Markdown('## Data Preview'),
        df.head(),
        disp.Markdown('## Stats'),
        df.describe()
    ])

## Data Collection

### YouTube (United States)

Initial setup. Be sure to have your API key ready. For details on how to obtain an API key, read [YouTube Data API Overview, Introduction: Before you start](https://developers.google.com/youtube/v3/getting-started#before-you-start).

In [20]:
count = 10
# This key is for testing ONLY. DO NOT release to the public!
api_key_testing = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'
api_key = api_key_testing or input('YouTube Data API Key: ')

Create a YouTube Web API object.

In [21]:
youtube_o = youtube.api(
    modules = modules,
    headers = headers,
    key = api_key
)

#### Categories

In [22]:
items = youtube_o.categories()

df_report_from_json(list(items))

---

# Results

## Data Preview

   id             title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

## Stats

        id   title
count   32      32
unique  32      31
top     42  Comedy
freq     1       2

---

#### Trending

In [23]:
items = youtube_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,tags,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality,category.id
0,Fbr55An8VPI,HIGHLIGHTS | Canelo Alvarez vs. Avni Yildirim,"February 27th, 2021 -- Canelo Alvarez vs. Avni...",2021-02-28 04:39:19+00:00,0 days 00:08:06,"[dazn, boxing, highlights, full fight, ko, kno...",UCurvRE5fGcdUgCYWgh-BDsg,39138,3893,7427.0,2921641,HD,17
1,p0GUZVU_TTU,Welcome To Our New House,Subscribe: http://bit.ly/SubToRoman\r\nWelcome...,2021-02-27 19:35:40+00:00,0 days 00:11:49,"[Roman, Atwood, The Atwoods, Brittney, Family,...",UC-SV8-bUJfXjrRMnp7F8Wzw,268463,2970,34704.0,3136278,HD,22
2,l-ETi70TbxI,I bought $1000 worth of Bootleg merch,Buy dat merch. But not dat merch. I'm upset an...,2021-02-28 18:56:39+00:00,0 days 00:06:23,"[Bootleg merch, merch, Animation, Boot, leg, s...",UCvUmwreRrbxeR1mbmojj8fg,58674,628,7156.0,445077,HD,23
3,n2e3R3Fbl3w,I am NOT Ferran's Father...(Truth Revealed) | ...,I am NOT Ferran's Father...(Truth Revealed) Al...,2021-02-28 16:33:25+00:00,0 days 00:14:48,"[The Royalty Family, Royalty Family, Andrea Es...",UCja7QUMRG9AD8X2F_vXFb9A,181260,5262,NaN,2108331,HD,22
4,vAbdZemOkiA,The Problem with Cheetahs,Check out The Secret Life of Cheetahs on Curio...,2021-02-28 15:59:07+00:00,0 days 00:08:17,None,UCHsRtomD4twRf5WVHHk-cMw,66821,394,5681.0,730735,HD,27

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,10,10.000000,10.000000,9.000000,1.000000e+01
mean,0 days 00:14:24,100806.200000,2154.100000,9896.777778,1.641493e+06
std,0 days 00:10:18.879273813,74438.297889,1695.345356,9567.024221,1.008342e+06
min,0 days 00:04:05,38987.000000,394.000000,2799.000000,4.450770e+05
25%,0 days 00:08:03,51600.750000,479.500000,5681.000000,6.966828e+05
50%,0 days 00:10:03,69500.000000,2197.500000,7427.000000,1.779013e+06
75%,0 days 00:18:48,126350.250000,3107.250000,8971.000000,2.288050e+06
max,0 days 00:36:56,268463.000000,5262.000000,34704.000000,3.136278e+06

---

#### Info

In [24]:
items = youtube_o.video.info(
    id = ['tH2tKigOPBU', '_uwNDiU04zE']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,tags,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality,category.id
0,tH2tKigOPBU,Mars Rover Landing Overview- NOW SAFE ON MARS!!!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,None,UCY1kMZp36IQSyNx_9h4mpCg,495450,4809,35313,9246942,HD,28
1,_uwNDiU04zE,Press Subscribe For....,Subscribe and I'll Donate $0.10 To Charity\nPl...,2021-02-13 21:00:01+00:00,0 days 00:11:59,None,UCX6OQ3DkcsbYNE6H8uQQuVA,1978386,15344,145166,24780971,HD,24

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,2,2.000000e+00,2.00000,2.000000,2.000000e+00
mean,0 days 00:14:38.500000,1.236918e+06,10076.50000,90239.500000,1.701396e+07
std,0 days 00:03:45.567063198,1.048594e+06,7449.36994,77677.801234,1.098422e+07
min,0 days 00:11:59,4.954500e+05,4809.00000,35313.000000,9.246942e+06
25%,0 days 00:13:18.750000,8.661840e+05,7442.75000,62776.250000,1.313045e+07
50%,0 days 00:14:38.500000,1.236918e+06,10076.50000,90239.500000,1.701396e+07
75%,0 days 00:15:58.250000,1.607652e+06,12710.25000,117702.750000,2.089746e+07
max,0 days 00:17:18,1.978386e+06,15344.00000,145166.000000,2.478097e+07

---

#### Search

In [25]:
items = youtube_o.video.search(
    count = count,
    keyword = ''
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,tags,creator.id
0,hhwwCrm4iCw,"NBA Top 10 Plays Of The Night | February 20, 2021",Check out the top 10 plays of the night from F...,2021-02-21 07:07:57+00:00,None,UCWJ2lWNubArHWmf3FIHbfcQ
1,F4plEk_iufY,UFC Vegas 19: Derrick Lewis - &quot;I Like The...,UFC heavyweight contender Derrick Lewis talks ...,2021-02-21 04:53:39+00:00,None,UCvgfXK4nTYKudb0rFR6noLA
2,PL3_SgjHhQwwLd5LmlBYDglmVyMxK1ogbW,ASMR - Ice Cream Rolls,Oddly satisfying ASMR Videos with Ice Cream Ro...,2019-10-17 13:42:57+00:00,None,UCAon55hNT6ESbdQ5y1hRWTA
3,PL3_SgjHhQwwL5deWscrUnGVxPtPjC2e8Q,nutella Ice Cream Rolls,nutella Ice Cream Rolls There are different wa...,2018-04-08 11:12:42+00:00,None,UCAon55hNT6ESbdQ5y1hRWTA
4,tHJLvOiROxI,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) &#39;Life Goes On&#39; (Video Call...,Connect with BTS: https://ibighit.com/bts http...,2021-02-20 10:20:05+00:00,None,UCLkAepWjdylmXSltofFvsYQ

## Stats

,id,title,description,time,tags,creator.id
count,10,10,10,10,0,10
unique,10,10,10,10,0,9
top,tHJLvOiROxI,POL√äMICA DA RODADA: RODINEI MERECIA OU N√ÉO A E...,A pol√™mica da rodada foi a expuls√£o do lateral...,2021-02-21 04:53:39+00:00,NaN,UCAon55hNT6ESbdQ5y1hRWTA
freq,1,1,1,1,NaN,2
first,NaN,NaN,NaN,2018-04-08 11:12:42+00:00,NaN,NaN
last,NaN,NaN,NaN,2021-02-24 13:38:11+00:00,NaN,NaN

---

#### Channels

In [26]:
items = youtube_o.channel.info(
    id = ['UC8Zo5A8qICfNAzVGDY_VT7w', 'UC0VOyT2OCBKdQhF3BAbZ-1g']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,stats.follower,stats.view,stats.post
0,UC8Zo5A8qICfNAzVGDY_VT7w,MALINDA,Hello friends! I am a singer/songwriter/actor...,2012-03-01 18:12:44+00:00,310000,20314751,76
1,UC0VOyT2OCBKdQhF3BAbZ-1g,ArianaGrandeVevo,Listen & download positions: https://arianagra...,2010-10-21 23:38:49+00:00,18100000,16203597447,134

## Stats

       stats.follower    stats.view  stats.post
count    2.000000e+00  2.000000e+00    2.000000
mean     9.205000e+06  8.111956e+09  105.000000
std      1.257943e+07  1.144331e+10   41.012193
min      3.100000e+05  2.031475e+07   76.000000
25%      4.757500e+06  4.066135e+09   90.500000
50%      9.205000e+06  8.111956e+09  105.000000
75%      1.365250e+07  1.215778e+10  119.500000
max      1.810000e+07  1.620360e+10  134.000000

---

## YouTube Internals

In [27]:
youtubei_o = youtubei.api(
    modules = modules,
    headers = headers
)

### Video Ads

In [28]:
items = youtubei_o.ad.placements(
    id = ['ur560pZKRfg', '_uwNDiU04zE']
)

res = []

for item in items:
    has_ad = False
    has_ad_at_beginning = False

    if not item == None:
        has_ad = True
        for ad in item['ads']:
            if ad['kind'] == youtubei.api.ad.kinds.START:
                has_ad_at_beginning = True
                break
    
    res.append({
        'id': item['id'],
        'has_ad': has_ad,
        'has_ad_at_beginning': has_ad_at_beginning
    })
    
df_report_from_json(res)

---

# Results

## Data Preview

            id  has_ad  has_ad_at_beginning
0  ur560pZKRfg    True                 True
1  _uwNDiU04zE    True                 True

## Stats

                 id has_ad has_ad_at_beginning
count             2      2                   2
unique            2      1                   1
top     ur560pZKRfg   True                True
freq              1      2                   2

---

### TikTok (United States)

In [29]:
count = 10

tiktok_o = tiktok.api(
    modules = modules,
    headers = headers
)

#### Trending

In [30]:
items = tiktok_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,description,time,length,tags,creator.id,creator.title,creator.description,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share,video.quality
0,6925559746128907526,The house on the left is Owned by #IceDerulo. ...,2021-02-04 15:49:07,0 days 00:00:17,"[, icederulo]",21609287,Jason Derulo,‚ÄúLifestyle‚Äù OUT NOW\nBooking Frank@23-manageme...,43500000,21,1914,992700000,651,2200000,12800,19700000,12000,HD
1,6932953172717686022,Reply to @therussiansoldier1 indeed,2021-02-24 13:59:22,0 days 00:00:52,[],6770811947673404422,Spice King,thank you for 10.1M ‚ú®\nofficialspiceking@gmail...,10100000,666,18000,304000000,336,1600000,16200,8700000,2382,HD
2,6925850612991151365,The moment your life flashes before yourüëÄ,2021-02-05 10:37:47,0 days 00:00:51,None,6813560925275128838,Kris HC,Daily Subpar Content\nüá®üá¶\nKris@henrytalents.co...,23900000,1350,14400,964000000,992,8100000,51000,32700000,96200,HD
3,6904810145583287557,TY @tiredmamateacher !!,2020-12-10 17:50:07,0 days 00:00:13,[],6604157541621252101,Moonpie,Moonpie Starbox\nüëÄüëá,4000000,1610,5402,46600000,374,1600000,19600,21500000,184400,HD
4,6931837534846684421,Nothing ever works out üò≠,2021-02-21 13:50:05,0 days 00:00:59,None,6890299906680439813,Aaron Scully,Great content On Instagram‚¨ÜÔ∏è\nFosho\nBusiness:...,2600000,200,2292,39900000,31,2500000,32000,15700000,240600,HD

## Stats

,length,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share
count,10,1.000000e+01,10.000000,10.00000,1.000000e+01,10.000000,1.000000e+01,10.000000,1.000000e+01,10.000000
mean,0 days 00:00:39.700000,1.225124e+07,495.500000,8203.80000,3.064100e+08,500.600000,2.725090e+06,24408.200000,1.666000e+07,123174.900000
std,0 days 00:00:18.838789770,1.386678e+07,565.244736,8289.17496,3.743210e+08,565.551294,2.478046e+06,15001.564554,9.894241e+06,167961.267795
min,0 days 00:00:13,4.197000e+05,21.000000,181.00000,3.600000e+06,31.000000,4.232000e+05,4582.000000,3.400000e+06,2382.000000
25%,0 days 00:00:20.750000,2.450000e+06,103.000000,1391.25000,4.157500e+07,79.500000,1.600000e+06,13650.000000,1.017500e+07,14950.000000
50%,0 days 00:00:47,7.050000e+06,195.500000,3847.00000,2.002000e+08,355.000000,1.900000e+06,21550.000000,1.585000e+07,60000.000000
75%,0 days 00:00:55.750000,1.925000e+07,649.750000,15825.00000,3.072250e+08,628.750000,2.500000e+06,30800.000000,2.105000e+07,162350.000000
max,0 days 00:00:59,4.350000e+07,1610.000000,21300.00000,9.927000e+08,1841.000000,8.100000e+06,51000.000000,3.270000e+07,544100.000000

---

## !! EXAMPLE BREAK: Data wrangling

### Videos

Coming soon