# Demo

## Setup

In [1]:
!python3 -m pip install --user -r requirements.txt

Requirement already satisfied: requests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 1)) (2.25.1)
Requirement already satisfied: grequests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 2)) (0.6.0)
Requirement already satisfied: python-dateutil in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 3)) (2.8.1)
Requirement already satisfied: isodate in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: quickjs in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 5)) (1.15.1)
Requirement already satisfied: lxml in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 6)) (4.6.2)
Requirement already satisfied: gevent in /home/rexjo/.local/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 2)) (21.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/site-packages (from isodate->-r requirements.txt (line 4)) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (1.26.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (2020.12.5)
Requirement already satisfied: greenlet<2.0,>=0.4.17 in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 2)) (1.0.0)
Requirement already satisfied: setuptools in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 2)) (53.0.0)
Requirement already satisfied: zope.event in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 2)) (4.5.0)
Requirement already satisfied: zope.interface in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 2)) (5.2.0)

In [2]:
import IPython
import IPython.display as disp
import pandas as pd

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os):
    output([
            disp.Markdown('---'), 
            disp.Markdown('# Results')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

def df_report_from_json(items):
    df = pd.json_normalize(items, sep = '.')

    results_report([
        disp.Markdown('## Data Preview'),
        df.head(),
        disp.Markdown('## Stats'),
        df.describe()
    ])

In [3]:
from dcollect.plugins import fasthttp

from dcollect import api_tiktok as tiktok
from dcollect import api_youtube as youtube
from dcollect import api_youtubei as youtubei

In [4]:
modules = {'http': fasthttp()}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
}

## Data Collection

### YouTube (United States)

Initial setup. Be sure to have your API key ready. For details on how to obtain an API key, read [YouTube Data API Overview, Introduction: Before you start](https://developers.google.com/youtube/v3/getting-started#before-you-start).

In [5]:
count = 10
# This key is for testing ONLY. DO NOT release to the public!
api_key_testing = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'
api_key = api_key_testing or input('YouTube Data API Key: ')

Create a YouTube Web API object.

In [6]:
youtube_o = youtube.api(
    modules = modules,
    headers = headers,
    key = api_key
)

#### Categories

In [7]:
items = youtube_o.categories()

df_report_from_json(list(items))

---

# Results

## Data Preview

   id             title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

## Stats

        id   title
count   32      32
unique  32      31
top     42  Comedy
freq     1       2

---

#### Trending

In [8]:
items = youtube_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,tags,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality,category.id
0,Fbr55An8VPI,HIGHLIGHTS | Canelo Alvarez vs. Avni Yildirim,"February 27th, 2021 -- Canelo Alvarez vs. Avni...",2021-02-28 04:39:19+00:00,0 days 00:08:06,"[dazn, boxing, highlights, full fight, ko, kno...",UCurvRE5fGcdUgCYWgh-BDsg,36985,3647,7072.0,2696366,HD,17
1,p0GUZVU_TTU,Welcome To Our New House,Subscribe: http://bit.ly/SubToRoman\r\nWelcome...,2021-02-27 19:35:40+00:00,0 days 00:11:49,"[Roman, Atwood, The Atwoods, Brittney, Family,...",UC-SV8-bUJfXjrRMnp7F8Wzw,264248,2910,34186.0,3005448,HD,22
2,l-ETi70TbxI,I bought $1000 worth of Bootleg merch,Buy dat merch. But not dat merch. I'm upset an...,2021-02-28 18:56:39+00:00,0 days 00:06:23,"[Bootleg merch, merch, Animation, Boot, leg, s...",UCvUmwreRrbxeR1mbmojj8fg,56075,550,6951.0,408215,HD,23
3,n2e3R3Fbl3w,I am NOT Ferran's Father...(Truth Revealed) | ...,I am NOT Ferran's Father...(Truth Revealed) Al...,2021-02-28 16:33:25+00:00,0 days 00:14:48,"[The Royalty Family, Royalty Family, Andrea Es...",UCja7QUMRG9AD8X2F_vXFb9A,171550,4735,NaN,1955454,HD,22
4,vAbdZemOkiA,The Problem with Cheetahs,Check out The Secret Life of Cheetahs on Curio...,2021-02-28 15:59:07+00:00,0 days 00:08:17,None,UCHsRtomD4twRf5WVHHk-cMw,63238,350,5430.0,670783,HD,27

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,10,10.000000,10.000000,9.000000,1.000000e+01
mean,0 days 00:14:24,97036.400000,2034.800000,9605.666667,1.547341e+06
std,0 days 00:10:18.879273813,73204.471146,1583.225737,9492.119811,9.648572e+05
min,0 days 00:04:05,36985.000000,350.000000,2657.000000,4.082150e+05
25%,0 days 00:08:03,47177.000000,406.750000,5430.000000,6.330032e+05
50%,0 days 00:10:03,66636.000000,2166.000000,7072.000000,1.702166e+06
75%,0 days 00:18:48,122379.250000,3059.250000,8751.000000,2.201391e+06
max,0 days 00:36:56,264248.000000,4735.000000,34186.000000,3.005448e+06

---

#### Info

In [9]:
items = youtube_o.video.info(
    id = ['tH2tKigOPBU', '_uwNDiU04zE']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,tags,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality,category.id
0,tH2tKigOPBU,Mars Rover Landing Overview- NOW SAFE ON MARS!!!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,None,UCY1kMZp36IQSyNx_9h4mpCg,495315,4813,35310,9243971,HD,28
1,_uwNDiU04zE,Press Subscribe For....,Subscribe and I'll Donate $0.10 To Charity\nPl...,2021-02-13 21:00:01+00:00,0 days 00:11:59,None,UCX6OQ3DkcsbYNE6H8uQQuVA,1976201,15333,144958,24745832,HD,24

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,2,2.000000e+00,2.000000,2.000000,2.000000e+00
mean,0 days 00:14:38.500000,1.235758e+06,10073.000000,90134.000000,1.699490e+07
std,0 days 00:03:45.567063198,1.047145e+06,7438.763338,77532.844344,1.096147e+07
min,0 days 00:11:59,4.953150e+05,4813.000000,35310.000000,9.243971e+06
25%,0 days 00:13:18.750000,8.655365e+05,7443.000000,62722.000000,1.311944e+07
50%,0 days 00:14:38.500000,1.235758e+06,10073.000000,90134.000000,1.699490e+07
75%,0 days 00:15:58.250000,1.605980e+06,12703.000000,117546.000000,2.087037e+07
max,0 days 00:17:18,1.976201e+06,15333.000000,144958.000000,2.474583e+07

---

#### Search

In [10]:
items = youtube_o.video.search(
    count = count,
    keyword = ''
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,tags,creator.id
0,hhwwCrm4iCw,"NBA Top 10 Plays Of The Night | February 20, 2021",Check out the top 10 plays of the night from F...,2021-02-21 07:07:57+00:00,None,UCWJ2lWNubArHWmf3FIHbfcQ
1,F4plEk_iufY,UFC Vegas 19: Derrick Lewis - &quot;I Like The...,UFC heavyweight contender Derrick Lewis talks ...,2021-02-21 04:53:39+00:00,None,UCvgfXK4nTYKudb0rFR6noLA
2,AtXTGxepk0I,Conan &amp; Andy Want To Visit The Gentlemen&#...,Conan and Andy make a date to go to the gentle...,2021-02-24 10:00:07+00:00,None,UCi7GJNg51C3jgmYTUwqoUXA
3,W8jfBsKpYnI,TSP’s Baap Baap Hota Hai | Mini Series | E01 B...,Abhinav wants to go to Manali but the exam res...,2021-02-20 07:00:16+00:00,None,UCNyeSfUfffmJXwA2_tmNG9A
4,u3TILSpJiJw,Jimmy Kimmel &amp; Guillermo Escape to the Con...,Jimmy and Guillermo escape to the Klondike Con...,2021-02-23 08:30:38+00:00,None,UCa6vGFO9ty8v5KZJXQxdhaw

## Stats

,id,title,description,time,tags,creator.id
count,10,10,10,10,0,10
unique,10,10,9,10,0,9
top,W8jfBsKpYnI,"Quavo Picks Up Bobby Shmurda In A Jet, Comes H...",#HouseofHighlights #NBA.,2021-02-21 04:53:39+00:00,NaN,UCqQo7ewe87aYAe7ub5UqXMw
freq,1,1,2,1,NaN,2
first,NaN,NaN,NaN,2021-02-20 06:30:26+00:00,NaN,NaN
last,NaN,NaN,NaN,2021-02-24 10:00:07+00:00,NaN,NaN

---

#### Channels

In [11]:
items = youtube_o.channel.info(
    id = ['UC8Zo5A8qICfNAzVGDY_VT7w', 'UC0VOyT2OCBKdQhF3BAbZ-1g']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,stats.follower,stats.view,stats.post
0,UC8Zo5A8qICfNAzVGDY_VT7w,MALINDA,Hello friends! I am a singer/songwriter/actor...,2012-03-01 18:12:44+00:00,310000,20313637,76
1,UC0VOyT2OCBKdQhF3BAbZ-1g,ArianaGrandeVevo,Listen & download positions: https://arianagra...,2010-10-21 23:38:49+00:00,18100000,16203053641,134

## Stats

       stats.follower    stats.view  stats.post
count    2.000000e+00  2.000000e+00    2.000000
mean     9.205000e+06  8.111684e+09  105.000000
std      1.257943e+07  1.144293e+10   41.012193
min      3.100000e+05  2.031364e+07   76.000000
25%      4.757500e+06  4.065999e+09   90.500000
50%      9.205000e+06  8.111684e+09  105.000000
75%      1.365250e+07  1.215737e+10  119.500000
max      1.810000e+07  1.620305e+10  134.000000

---

## YouTube Internals

In [12]:
youtubei_o = youtubei.api(
    modules = modules,
    headers = headers
)

### Video Ads

In [13]:
items = youtubei_o.ad.placements(
    id = ['ur560pZKRfg', '_uwNDiU04zE']
)

res = []

for item in items:
    has_ad = False
    has_ad_at_beginning = False

    if not item == None:
        has_ad = True
        for ad in item['ads']:
            if ad['kind'] == youtubei.api.ad.kinds.START:
                has_ad_at_beginning = True
                break
    
    res.append({
        'id': item['id'],
        'has_ad': has_ad,
        'has_ad_at_beginning': has_ad_at_beginning
    })
    
df_report_from_json(res)

---

# Results

## Data Preview

            id  has_ad  has_ad_at_beginning
0  _uwNDiU04zE    True                 True
1  ur560pZKRfg    True                 True

## Stats

                 id has_ad has_ad_at_beginning
count             2      2                   2
unique            2      1                   1
top     _uwNDiU04zE   True                True
freq              1      2                   2

---

### TikTok (United States)

In [14]:
count = 10

tiktok_o = tiktok.api(
    modules = modules,
    headers = headers
)

#### Trending

In [15]:
items = tiktok_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,description,time,length,tags,creator.id,creator.title,creator.description,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share,video.quality
0,6925559746128907526,The house on the left is Owned by #IceDerulo. ...,2021-02-04 15:49:07,0 days 00:00:17,"[, icederulo]",21609287,Jason Derulo,“Lifestyle” OUT NOW\nBooking Frank@23-manageme...,43500000,21,1914,992600000,651,2200000,12700,19600000,12000,HD
1,6932953172717686022,Reply to @therussiansoldier1 indeed,2021-02-24 13:59:22,0 days 00:00:52,[],6770811947673404422,Spice King,thank you for 10.1M ✨\nofficialspiceking@gmail...,10100000,666,18000,303900000,336,1600000,16100,8600000,2372,HD
2,6925850612991151365,The moment your life flashes before your👀,2021-02-05 10:37:47,0 days 00:00:51,None,6813560925275128838,Kris HC,Daily Subpar Content\n🇨🇦\nKris@henrytalents.co...,23900000,1351,14400,963500000,992,8100000,50900,32700000,96100,HD
3,6909894241112050949,When mom gets mad at you for being a burrito #...,2020-12-24 10:38:57,0 days 00:00:20,"[mom, burrito, public, walmart, immaburrito]",6757815847807566853,AMYYWOAHH,IMMA BURRITO \nDANG IT !!\nbusiness inquires->...,11200000,18,3788,482600000,1019,929800,19100,6300000,3646,HD
4,6904810145583287557,TY @tiredmamateacher !!,2020-12-10 17:50:07,0 days 00:00:13,[],6604157541621252101,Moonpie,Moonpie Starbox\n👀👇,4000000,1610,5400,46600000,374,1600000,19600,21500000,184300,HD

## Stats

,length,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share
count,10,1.000000e+01,10.00000,10.000000,1.000000e+01,10.000000,1.000000e+01,10.00000,1.000000e+01,10.000000
mean,0 days 00:00:39,1.352075e+07,681.80000,10407.300000,3.644900e+08,657.000000,2.118680e+06,17582.00000,1.340000e+07,54042.300000
std,0 days 00:00:18.826694995,1.373334e+07,635.54575,9207.611996,3.667994e+08,523.932354,2.193941e+06,13756.17757,8.963878e+06,68197.178717
min,0 days 00:00:13,6.075000e+05,17.00000,206.000000,8.200000e+06,112.000000,5.452000e+05,1834.00000,2.000000e+06,461.000000
25%,0 days 00:00:20.250000,2.425000e+06,101.00000,2382.500000,5.710000e+07,329.250000,9.723500e+05,9082.00000,7.775000e+06,2690.500000
50%,0 days 00:00:48,1.065000e+07,589.00000,9900.000000,2.931500e+08,512.500000,1.600000e+06,15950.00000,1.160000e+07,15300.000000
75%,0 days 00:00:52.750000,2.140000e+07,1179.75000,16225.000000,4.766250e+08,929.000000,2.150000e+06,19475.00000,1.785000e+07,90425.000000
max,0 days 00:00:59,4.350000e+07,1616.00000,27300.000000,9.926000e+08,1841.000000,8.100000e+06,50900.00000,3.270000e+07,184300.000000

---

## !! EXAMPLE BREAK: Data wrangling

### Videos

Coming soon