# Demo

## Setup

In [18]:
!python3 -m pip install --user -r requirements.txt

Requirement already satisfied: grequests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 1))
Requirement already satisfied: python-dateutil in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 2))
Requirement already satisfied: isodate in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 3))
Requirement already satisfied: quickjs in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 4))
Requirement already satisfied: lxml in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 5))
Requirement already satisfied: requests in /usr/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1))
Requirement already satisfied: gevent in /home/rexjo/.local/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1))
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil->-r requirements.txt (line 2))
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: idna<2.8,>=2.5 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: zope.event in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: greenlet<2.0,>=0.4.17; platform_python_implementation == "CPython" in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: setuptools in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: zope.interface in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))

In [19]:
import IPython
import IPython.display as disp
import pandas as pd
from dcollect import *

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os):
    output([
            disp.Markdown('---'), 
            disp.Markdown('# Results')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

def df_report_from_json(items):
    df = pd.json_normalize(items, sep = '.')

    results_report([
        disp.Markdown('## Data Preview'),
        df.head(),
        disp.Markdown('## Stats'),
        df.describe()
    ])

In [20]:
modules = {'http': fasthttp()}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
}

## Data Collection

### YouTube (United States)

Initial setup. Be sure to have your API key ready. For details on how to obtain an API key, read [YouTube Data API Overview, Introduction: Before you start](https://developers.google.com/youtube/v3/getting-started#before-you-start).

In [21]:
count = 10
# This key is for testing ONLY. DO NOT release to the public!
api_key_testing = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'
api_key = api_key_testing or input('YouTube Data API Key: ')

Create a YouTube Web API object.

In [22]:
youtube_o = youtube(
    modules = modules,
    headers = headers,
    key = api_key
)

#### Trending

In [23]:
items = youtube_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,creator.id,stats.like,stats.dislike,stats.comment,stats.view
0,_v-U3K1sw9U,The Next Pandemic: Last Week Tonight with John...,"As COVID-19 continues to spread, John Oliver d...",2021-02-15 07:30:01+00:00,0 days 00:20:29,UC3XTzVzaHQEd30rQbuvCtTQ,123016,6157,13087,3925059
1,R3L_ezsLKkc,Claudia Conway Sings Adele Song And Shocks The...,It‚Äôs Claudia Conway‚Äôs time to shine! Claudia p...,2021-02-15 02:40:39+00:00,0 days 00:09:05,UCAMPco9PqjBbI_MLsDOO4Jw,18973,8206,6052,2283493
2,tH2tKigOPBU,Mars Rover Landing CRASH COURSE- 3 DAYS LEFT!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,UCY1kMZp36IQSyNx_9h4mpCg,350474,2912,25793,4907913
3,mgkKG2oGCgE,bad customers,Annoying customers are annoying. These are tim...,2021-02-15 19:04:08+00:00,0 days 00:08:46,UCOsATJw-IZgqGT8MFrHjKGg,123982,241,5604,631349
4,L0dkyV09Zso,Starlink Mission,"SpaceX is targeting Monday, February 15 for la...",2021-02-16 05:18:05+00:00,0 days 01:26:47,UCtI0Hodo5o5dUb67FeUjDeA,29952,397,1372,722773

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,10,10.000000,10.0000,10.000000,1.000000e+01
mean,0 days 00:19:52.100000,230835.400000,4965.3000,17187.700000,4.618029e+06
std,0 days 00:24:36.109484798,304890.404777,6022.2134,18602.508141,5.700582e+06
min,0 days 00:02:27,5985.000000,241.0000,1372.000000,6.313490e+05
25%,0 days 00:07:57.250000,45168.500000,410.5000,5240.250000,8.387948e+05
50%,0 days 00:13:11.500000,123499.000000,1878.0000,9569.500000,2.080446e+06
75%,0 days 00:20:19.750000,294552.250000,7693.7500,22888.500000,4.662200e+06
max,0 days 01:26:47,998532.000000,16733.0000,53451.000000,1.579884e+07

---

#### Info

In [24]:
items = youtube_o.video.info(
    id = ['tH2tKigOPBU', '_uwNDiU04zE']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,creator.id,stats.like,stats.dislike,stats.comment,stats.view
0,tH2tKigOPBU,Mars Rover Landing CRASH COURSE- 3 DAYS LEFT!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,UCY1kMZp36IQSyNx_9h4mpCg,350474,2912,25793,4907913
1,_uwNDiU04zE,Press Subscribe For $.10,Subscribe and I'll Donate $0.10 To Charity\nPl...,2021-02-13 21:00:01+00:00,0 days 00:11:59,UCX6OQ3DkcsbYNE6H8uQQuVA,1662543,12378,117772,18766553

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,2,2.000000e+00,2.000000,2.000000,2.000000e+00
mean,0 days 00:14:38.500000,1.006508e+06,7645.000000,71782.500000,1.183723e+07
std,0 days 00:03:45.567063198,9.277729e+05,6693.472791,65038.974627,9.799538e+06
min,0 days 00:11:59,3.504740e+05,2912.000000,25793.000000,4.907913e+06
25%,0 days 00:13:18.750000,6.784912e+05,5278.500000,48787.750000,8.372573e+06
50%,0 days 00:14:38.500000,1.006508e+06,7645.000000,71782.500000,1.183723e+07
75%,0 days 00:15:58.250000,1.334526e+06,10011.500000,94777.250000,1.530189e+07
max,0 days 00:17:18,1.662543e+06,12378.000000,117772.000000,1.876655e+07

---

#### Search

In [25]:
items = youtube_o.video.search(
    count = count,
    keyword = ''
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,creator.id
0,_6r_1esxE64,FAST AND FURIOUS 9 Super Bowl Trailer (2021),New super bowl spot for FAST AND FURIOUS 9.,2021-02-07 22:44:43+00:00,UCT0hbLDa-unWsnZ6Rjzkfug
1,SilS_vq4XOw,NFL Super Bowl LV Commercial || As One,A voice from the past. A message for today. Vi...,2021-02-08 02:06:42+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg
2,IWBsDaFWyTE,Official Trailer | The Falcon and the Winter S...,Are you ready? Watch the brand-new trailer for...,2021-02-07 23:52:38+00:00,UCvC4D8onUfXzvjTOM-dBfEA
3,qTrYd6o-OR8,H.E.R. Sings America the Beautiful at Super Bo...,H.E.R. sings 'America the Beautiful' for the S...,2021-02-07 23:30:42+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg
4,9rhadTURsrw,The Weeknd‚Äôs FULL Pepsi Super Bowl LV Halftime...,The Weeknd performs at the Super Bowl LV Pepsi...,2021-02-08 01:57:48+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg

## Stats

,id,title,description,time,creator.id
count,10,10,10,10,10
unique,10,10,10,10,7
top,9rhadTURsrw,All-Electric Cadillac LYRIQ | ScissorHandsFree...,New super bowl spot for FAST AND FURIOUS 9.,2021-02-07 16:00:18+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg
freq,1,1,1,1,4
first,NaN,NaN,NaN,2021-02-07 15:22:51+00:00,NaN
last,NaN,NaN,NaN,2021-02-11 16:00:00+00:00,NaN

---

#### Channels

In [26]:
items = youtube_o.channel.info(
    id = ['UC8Zo5A8qICfNAzVGDY_VT7w', 'UC0VOyT2OCBKdQhF3BAbZ-1g']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,stats.follower,stats.view,stats.post
0,UC8Zo5A8qICfNAzVGDY_VT7w,MALINDA,Hello friends! I am a singer/songwriter/actor...,2012-03-01 18:12:44+00:00,309000,20140064,75
1,UC0VOyT2OCBKdQhF3BAbZ-1g,ArianaGrandeVevo,Listen & download positions: https://arianagra...,2010-10-21 23:38:49+00:00,18100000,16080907582,130

## Stats

       stats.follower    stats.view  stats.post
count    2.000000e+00  2.000000e+00    2.000000
mean     9.204500e+06  8.050524e+09  102.500000
std      1.258014e+07  1.135668e+10   38.890873
min      3.090000e+05  2.014006e+07   75.000000
25%      4.756750e+06  4.035332e+09   88.750000
50%      9.204500e+06  8.050524e+09  102.500000
75%      1.365225e+07  1.206572e+10  116.250000
max      1.810000e+07  1.608091e+10  130.000000

---

## YouTube Internals

In [27]:
youtubei_o = youtubei(
    modules = modules,
    headers = headers
)

### Video Ads

In [28]:
items = youtubei_o.ad.placements(
    id = ['ur560pZKRfg', '_uwNDiU04zE']
)

res = []

for item in items:
    has_ad = False
    has_ad_at_beginning = False

    if not item == None:
        has_ad = True
        for ad in item['ads']:
            if ad['kind'] == youtubei.ad.kinds.START:
                has_ad_at_beginning = True
                break
    
    res.append({
        'id': item['id'],
        'has_ad': has_ad,
        'has_ad_at_beginning': has_ad_at_beginning
    })
    
df_report_from_json(res)

---

# Results

## Data Preview

            id  has_ad  has_ad_at_beginning
0  ur560pZKRfg    True                 True
1  _uwNDiU04zE    True                 True

## Stats

                 id has_ad has_ad_at_beginning
count             2      2                   2
unique            2      1                   1
top     _uwNDiU04zE   True                True
freq              1      2                   2

---

### TikTok (United States)

In [29]:
count = 10

tiktok_o = tiktok(
    modules = modules,
    headers = headers
)

#### Trending

In [30]:
items = tiktok_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,description,time,length,creator.id,creator.title,creator.description,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share
0,6925559746128907526,The house on the left is Owned by #IceDerulo. ...,2021-02-04 15:49:07,0 days 00:00:17,21609287,Jason Derulo,‚ÄúLifestyle‚Äù OUT NOW\nBooking Frank@23-manageme...,43100000,21,1875,984600000,646,1700000,8672,14800000,8396
1,6916314483468078341,,2021-01-10 17:52:47,0 days 00:00:11,6906058618241156101,user2709816015424,To reach 500k follows ‚ù§Ô∏è‚ù§Ô∏è,593700,0,2,6600000,135,783200,10300,7800000,99600
2,6923210937994415366,I wasn‚Äôt gon‚Äô do it! :-) I jus‚Äô be playin‚Äô,2021-01-29 07:54:31,0 days 00:00:35,6727327145951183878,Will Smith,Same kid from West Philly.,48100000,22,73,272400000,63,3500000,37600,31900000,16900
3,6904810145583287557,TY @tiredmamateacher !!,2020-12-10 17:50:07,0 days 00:00:13,6604157541621252101,Moonpie,Moonpie Starbox\nüëÄüëá,3900000,1599,5197,45400000,369,1300000,15100,16100000,144600
4,6904757382992219398,MA killing the #walkchallenge #comedy #tiktok ...,2020-12-10 14:25:24,0 days 00:00:13,6842810395792262149,Patrice Lovely,https://www.instagram.com/actresspatrice/,1700000,9,609,8200000,62,1100000,14400,10900000,66900

## Stats

,length,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share
count,10,1.000000e+01,10.00000,10.000000,1.000000e+01,10.000000,1.000000e+01,10.000000,1.000000e+01,10.000000
mean,0 days 00:00:26.200000,1.173028e+07,357.50000,5511.100000,1.555500e+08,310.300000,1.777320e+06,17092.300000,1.648000e+07,58889.600000
std,0 days 00:00:17.649677365,1.856510e+07,559.41383,10441.267361,3.057281e+08,278.338742,1.118769e+06,13152.719162,9.484233e+06,42895.341542
min,0 days 00:00:11,5.153000e+05,0.00000,2.000000,4.900000e+06,60.000000,7.444000e+05,3651.000000,6.600000e+06,8396.000000
25%,0 days 00:00:13,6.125500e+05,15.00000,240.250000,7.675000e+06,81.000000,8.624000e+05,9079.000000,9.700000e+06,28225.000000
50%,0 days 00:00:15.500000,1.500000e+06,21.50000,1242.000000,1.740000e+07,233.000000,1.350000e+06,14750.000000,1.515000e+07,47150.000000
75%,0 days 00:00:41,1.365000e+07,675.75000,4389.250000,1.546750e+08,400.500000,2.825000e+06,17925.000000,1.737500e+07,87600.000000
max,0 days 00:00:59,4.810000e+07,1599.00000,33500.000000,9.846000e+08,891.000000,3.500000e+06,42600.000000,3.410000e+07,144600.000000

---

## !! EXAMPLE BREAK: Data wrangling

### Videos

Coming soon