# Demo

## Setup

In [14]:
!python3 -m pip install --user -r requirements.txt

Requirement already satisfied: grequests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 1)) (0.6.0)
Requirement already satisfied: python-dateutil in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: isodate in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 3)) (0.6.0)
Requirement already satisfied: quickjs in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 4)) (1.15.1)
Requirement already satisfied: lxml in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 5)) (4.6.2)
Requirement already satisfied: gevent in /home/rexjo/.local/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1)) (21.1.2)
Requirement already satisfied: requests in /home/rexjo/.local/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1)) (2.25.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/site-packages (from isodate->-r requirements.txt (line 3)) (1.15.0)
Requirement already satisfied: setuptools in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1)) (53.0.0)
Requirement already satisfied: zope.event in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1)) (4.5.0)
Requirement already satisfied: greenlet<2.0,>=0.4.17 in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1)) (1.0.0)
Requirement already satisfied: zope.interface in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1)) (5.2.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1)) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1)) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1)) (1.26.3)
Requirement already satisfied: idna<3,>=2.5 in /home/rexjo/.local/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1)) (2.10)
WARNING: You are using pip version 20.3.4; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [15]:
import IPython
import IPython.display as disp
import pandas as pd
from dcollect import *

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os):
    output([
            disp.Markdown('---'), 
            disp.Markdown('# Results')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

def df_report_from_json(items):
    df = pd.json_normalize(items, sep = '.')

    results_report([
        disp.Markdown('## Data Preview'),
        df.head(),
        disp.Markdown('## Stats'),
        df.describe()
    ])

In [16]:
modules = {'http': fasthttp()}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
}

## Data Collection

### YouTube (United States)

Initial setup. Be sure to have your API key ready. For details on how to obtain an API key, read [YouTube Data API Overview, Introduction: Before you start](https://developers.google.com/youtube/v3/getting-started#before-you-start).

In [17]:
count = 10
# This key is for testing ONLY. DO NOT release to the public!
api_key_testing = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'
api_key = api_key_testing or input('YouTube Data API Key: ')

Create a YouTube Web API object.

In [18]:
youtube_o = youtube.api(
    modules = modules,
    headers = headers,
    key = api_key
)

#### Trending

In [19]:
items = youtube_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,tags,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality
0,9YQ19x66U6E,CHARLI AND DIXIE ON BEING FAMOUS SISTERS!!,Thank you Charlie and Dixie for hanging out!!\...,2021-02-24 22:38:01+00:00,0 days 00:45:06,"[Views, Views podcast, the views, David, dobri...",UCJ94IBNmj9bBGHgqV1EXCBw,103585,5335,6519,1388126,HD
1,qaXMnT9CfIk,"Best Food Art Wins $5,000 Challenge! | ZHC Crafts",I can't believe we made art using food and the...,2021-02-24 21:20:45+00:00,0 days 00:11:45,None,UCPAk4rqVIwg1NCXh61VJxbg,49827,843,5438,1129930,HD
2,60g72d4Nqss,BTS Performs 'Fix You' (Coldplay Cover) | MTV ...,Musical guests BTS perform a stripped down cov...,2021-02-24 04:49:29+00:00,0 days 00:05:11,"[mtv uk, official, mtv international, MTV EMA,...",UCuwUfM8E79h2sqp34Fut6kw,1157260,13287,115295,8792952,HD
3,i54eOei2ESk,Dream Team Reality TV Show...,Dream Team Reality TV Show...\n#shorts‚Äã‚Äã\n\nSU...,2021-02-25 03:33:11+00:00,0 days 00:00:39,None,UCZWBGXa6kiaWo9-pE8CX6Dg,174352,680,9774,976530,HD
4,iqyPvdsOWKk,The New Spider-Man Title is‚Ä¶,"This, we can confirm. #SpiderManNoWayHome only...",2021-02-24 17:44:20+00:00,0 days 00:00:39,None,UCz97F7dMxBNOfGYu3rx8aCw,83969,1125,7312,1570506,HD

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,10,1.000000e+01,10.000000,10.000000,1.000000e+01
mean,0 days 00:10:43.400000,2.246540e+05,2998.400000,20806.500000,2.534868e+06
std,0 days 00:14:21.554821883,3.444406e+05,4277.355107,34579.635331,3.425893e+06
min,0 days 00:00:39,7.889000e+03,187.000000,631.000000,3.607650e+05
25%,0 days 00:01:32.750000,5.821575e+04,566.000000,5679.250000,6.787700e+05
50%,0 days 00:04:45,9.377700e+04,776.500000,6915.500000,1.053230e+06
75%,0 days 00:11:25.750000,1.970365e+05,4282.500000,22457.250000,1.524911e+06
max,0 days 00:45:06,1.157260e+06,13287.000000,115295.000000,9.195576e+06

---

#### Info

In [20]:
items = youtube_o.video.info(
    id = ['tH2tKigOPBU', '_uwNDiU04zE']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,tags,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality
0,tH2tKigOPBU,Mars Rover Landing Overview- NOW SAFE ON MARS!!!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,None,UCY1kMZp36IQSyNx_9h4mpCg,489225,4743,35147,9039841,HD
1,_uwNDiU04zE,Press Subscribe For....,Subscribe and I'll Donate $0.10 To Charity\nPl...,2021-02-13 21:00:01+00:00,0 days 00:11:59,None,UCX6OQ3DkcsbYNE6H8uQQuVA,1910136,14783,139514,23239178,HD

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,2,2.000000e+00,2.000000,2.000000,2.000000e+00
mean,0 days 00:14:38.500000,1.199680e+06,9763.000000,87330.500000,1.613951e+07
std,0 days 00:03:45.567063198,1.004736e+06,7099.352083,73798.613432,1.004045e+07
min,0 days 00:11:59,4.892250e+05,4743.000000,35147.000000,9.039841e+06
25%,0 days 00:13:18.750000,8.444528e+05,7253.000000,61238.750000,1.258968e+07
50%,0 days 00:14:38.500000,1.199680e+06,9763.000000,87330.500000,1.613951e+07
75%,0 days 00:15:58.250000,1.554908e+06,12273.000000,113422.250000,1.968934e+07
max,0 days 00:17:18,1.910136e+06,14783.000000,139514.000000,2.323918e+07

---

#### Search

In [21]:
items = youtube_o.video.search(
    count = count,
    keyword = ''
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,tags,creator.id
0,_N8lsOvbjp4,HAWKS at CELTICS | FULL GAME HIGHLIGHTS | Febr...,HAWKS at CELTICS | FULL GAME HIGHLIGHTS | Febr...,2021-02-18 03:13:33+00:00,None,UCWJ2lWNubArHWmf3FIHbfcQ
1,IyPK-Dt4PVg,Dhee 13 | Kings vs Queens | 24th February 2021...,Dhee13KingsvsQueens #Dhee13 #ETVTelugu #ETVWin...,2021-02-17 17:21:39+00:00,None,UCoY_p16GEbOQPgES1-wXpYg
2,AzJBg-CzvQI,Marissa withdraws the case against Ellice | An...,Marissa decides to withdraw the lawsuit agains...,2021-02-19 17:34:08+00:00,None,UCstEtN0pgOmCf02EdXsGChw
3,RAekZ3iEFG8,RAFFI GIGI KAGET!!! RAFATHAR BELANJAIN GUCCI ...,‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî Contact : ransdigital....,2021-02-17 12:00:16+00:00,None,UCvA9_f5Lwk-poMynabtrZPg
4,ioaTcR98Dmo,‡∏Ñ‡∏ô‡∏≠‡∏ß‡∏î‡∏ú‡∏µ | ‡∏û‡πà‡∏≠‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡πÑ‡∏õ‡∏Ç‡∏∏‡∏î‡∏®‡∏û‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏™‡∏≤‡∏ô | 17 ‡∏Å...,‡∏û‡∏ö‡∏Å‡∏±‡∏ö‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏Ñ‡∏ô‡∏≠‡∏ß‡∏î‡∏ú‡∏µ ‡πÑ‡∏î‡πâ‡∏ó‡∏≤‡∏á ‡∏ä‡πà‡∏≠‡∏á‡πÄ‡∏ß‡∏¥‡∏£‡πå‡∏Ñ‡∏û‡∏≠‡∏¢‡∏ó‡πå ‡∏Å‡∏î‡∏´‡∏°...,2021-02-18 04:08:41+00:00,None,UC3ZkCd7XtUREnjjt3cyY_gg

## Stats

,id,title,description,time,tags,creator.id
count,10,10,10,10,0,10
unique,10,10,10,10,0,9
top,_N8lsOvbjp4,HAWKS at CELTICS | FULL GAME HIGHLIGHTS | Febr...,Descarga gratis OneFootball: https://tinyurl.c...,2021-02-17 12:00:16+00:00,NaN,UC3ZkCd7XtUREnjjt3cyY_gg
freq,1,1,1,1,NaN,2
first,NaN,NaN,NaN,2021-02-17 12:00:16+00:00,NaN,NaN
last,NaN,NaN,NaN,2021-02-22 16:00:03+00:00,NaN,NaN

---

#### Channels

In [22]:
items = youtube_o.channel.info(
    id = ['UC8Zo5A8qICfNAzVGDY_VT7w', 'UC0VOyT2OCBKdQhF3BAbZ-1g']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,stats.follower,stats.view,stats.post
0,UC8Zo5A8qICfNAzVGDY_VT7w,MALINDA,Hello friends! I am a singer/songwriter/actor...,2012-03-01 18:12:44+00:00,310000,20237071,75
1,UC0VOyT2OCBKdQhF3BAbZ-1g,ArianaGrandeVevo,Listen & download positions: https://arianagra...,2010-10-21 23:38:49+00:00,18100000,16170685895,134

## Stats

       stats.follower    stats.view  stats.post
count    2.000000e+00  2.000000e+00      2.0000
mean     9.205000e+06  8.095461e+09    104.5000
std      1.257943e+07  1.142009e+10     41.7193
min      3.100000e+05  2.023707e+07     75.0000
25%      4.757500e+06  4.057849e+09     89.7500
50%      9.205000e+06  8.095461e+09    104.5000
75%      1.365250e+07  1.213307e+10    119.2500
max      1.810000e+07  1.617069e+10    134.0000

---

## YouTube Internals

In [23]:
youtubei_o = youtubei.api(
    modules = modules,
    headers = headers
)

### Video Ads

In [24]:
items = youtubei_o.ad.placements(
    id = ['ur560pZKRfg', '_uwNDiU04zE']
)

res = []

for item in items:
    has_ad = False
    has_ad_at_beginning = False

    if not item == None:
        has_ad = True
        for ad in item['ads']:
            if ad['kind'] == youtubei.api.ad.kinds.START:
                has_ad_at_beginning = True
                break
    
    res.append({
        'id': item['id'],
        'has_ad': has_ad,
        'has_ad_at_beginning': has_ad_at_beginning
    })
    
df_report_from_json(res)

---

# Results

## Data Preview

            id  has_ad  has_ad_at_beginning
0  ur560pZKRfg    True                 True
1  _uwNDiU04zE    True                 True

## Stats

                 id has_ad has_ad_at_beginning
count             2      2                   2
unique            2      1                   1
top     ur560pZKRfg   True                True
freq              1      2                   2

---

### TikTok (United States)

In [25]:
count = 10

tiktok_o = tiktok.api(
    modules = modules,
    headers = headers
)

#### Trending

In [26]:
items = tiktok_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,description,time,length,tags,creator.id,creator.title,creator.description,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share,video.quality
0,6925559746128907526,The house on the left is Owned by #IceDerulo. ...,2021-02-04 15:49:07,0 days 00:00:17,"[, icederulo]",21609287,Jason Derulo,‚ÄúLifestyle‚Äù OUT NOW\nBooking Frank@23-manageme...,43400000,21.0,1899,990600000,652,2100000,11800,18400000,11100,HD
1,6932204775731694849,DO THIS WITH YOUR KIDS! üòç,2021-02-22 13:35:23,0 days 00:01:00,None,6891344886806365185,Mark üé≠,Follow your dream ..üíû,2200000,NaN,1451,31700000,133,6800000,29400,58200000,31100,HD
2,6932170926884719877,#duet with @gettishow Candy in a #pasta....wha...,2021-02-22 11:23:49,0 days 00:00:57,"[, duet, pasta, ramsayreacts, tiktokcooks, fyp]",6747935906352907269,Gordon Ramsay,I cook sometimes too..... \nText me ‚òéÔ∏è +1 (310...,20700000,125.0,177,305800000,104,1100000,17700,9800000,14800,HD
3,6931126571071802630,Dinner Patrol üòé #mortythemisfit #hustler #knee...,2021-02-19 15:51:13,0 days 00:00:32,"[mortythemisfit, hustler, kneestochest, fancyf...",6902660102034277382,Mr. Mortimer,"Hi, I‚Äôm Morty. One üëÅ, wobbly walk, extensive w...",381100,85.0,933,4200000,37,2400000,43100,13200000,508600,HD
4,6932533242092358918,Let‚Äôs see via @zenbodys,2021-02-23 10:49:47,0 days 00:00:53,[],6689853951518737414,PARTY SHIRT,"music duo, ivy and x\nour journey to be the gr...",13600000,593.0,16200,272300000,1828,1900000,12800,9000000,14600,HD

## Stats

,length,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share
count,10,1.000000e+01,9.000000,10.000000,1.000000e+01,10.000000,1.000000e+01,10.000000,1.000000e+01,10.000000
mean,0 days 00:00:37.800000,1.780811e+07,458.111111,6326.200000,2.939200e+08,479.600000,2.322640e+06,22149.200000,1.850000e+07,99673.100000
std,0 days 00:00:18.225744916,1.711259e+07,550.663110,7091.264153,2.985977e+08,559.430107,1.839383e+06,15412.016443,1.696139e+07,161584.577772
min,0 days 00:00:13,3.811000e+05,21.000000,73.000000,4.200000e+06,37.000000,3.264000e+05,1692.000000,2.600000e+06,280.000000
25%,0 days 00:00:22.750000,2.875000e+06,85.000000,1062.500000,5.592500e+07,82.250000,1.500000e+06,12050.000000,9.200000e+06,11975.000000
50%,0 days 00:00:34,1.595000e+07,125.000000,3192.000000,2.735500e+08,253.500000,1.750000e+06,18150.000000,1.200000e+07,22500.000000
75%,0 days 00:00:56,2.362500e+07,593.000000,13261.000000,4.159750e+08,714.250000,2.325000e+06,28350.000000,1.960000e+07,138350.000000
max,0 days 00:01:00,4.840000e+07,1606.000000,16800.000000,9.906000e+08,1828.000000,6.800000e+06,51200.000000,5.820000e+07,508600.000000

---

## !! EXAMPLE BREAK: Data wrangling

### Videos

Coming soon