# Demo

## Setup

In [1]:
!python3 -m pip install --user -r requirements.txt

Requirement already satisfied: grequests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 1))
Requirement already satisfied: python-dateutil in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 2))
Requirement already satisfied: isodate in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 3))
Requirement already satisfied: quickjs in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 4))
Requirement already satisfied: lxml in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 5))
Requirement already satisfied: gevent in /home/rexjo/.local/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1))
Requirement already satisfied: requests in /usr/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1))
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil->-r requirements.txt (line 2))
Requirement already satisfied: zope.event in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: setuptools in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: greenlet<2.0,>=0.4.17; platform_python_implementation == "CPython" in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: zope.interface in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: idna<2.8,>=2.5 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))

In [2]:
import IPython
import IPython.display as disp
import pandas as pd
from dcollect import *

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os):
    output([
            disp.Markdown('---'), 
            disp.Markdown('# Results')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

def df_report_from_json(items):
    df = pd.json_normalize(items, sep = '.')

    results_report([
        disp.Markdown('## Data Preview'),
        df.head(),
        disp.Markdown('## Stats'),
        df.describe()
    ])

In [3]:
modules = {'http': fasthttp()}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
}

## Data Collection

### YouTube

In [4]:
count = 10
api_key = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'

youtube_o = youtube(
    modules = modules,
    key = api_key,
    headers = headers
)

#### Trending

In [5]:
items = youtube_o.video.trending(
    count = count,
    parts = None,
    want = {
        'id': None,
        'creator': {
            'id': None
        },
        'stats': {
            'like': None,
            'comment': None,
            'view': None
        },
        'time': None,
        'length': None
    }
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,creator.id,stats.like,stats.comment,stats.view
0,vM-Bja2Gy04,Zack Snyder's Justice League | Official Traile...,"In Zack Snyder's Justice League, determined to...",2021-02-14 15:15:16+00:00,0 days 00:02:27,UCx-KWLTKlB83hDI6UKECtJQ,383952,45621,11338571
1,R3L_ezsLKkc,Claudia Conway Sings Adele Song And Shocks The...,It’s Claudia Conway’s time to shine! Claudia p...,2021-02-15 02:40:39+00:00,0 days 00:09:05,UCAMPco9PqjBbI_MLsDOO4Jw,9870,2478,747048
2,_v-U3K1sw9U,The Next Pandemic: Last Week Tonight with John...,"As COVID-19 continues to spread, John Oliver d...",2021-02-15 07:30:01+00:00,0 days 00:20:29,UC3XTzVzaHQEd30rQbuvCtTQ,77851,7685,1478853
3,tH2tKigOPBU,Mars Rover Landing CRASH COURSE- 3 DAYS LEFT!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,UCY1kMZp36IQSyNx_9h4mpCg,287790,22230,3106364
4,_uwNDiU04zE,Press Subscribe For $.10,Subscribe and I'll Donate $0.10 To Charity\nPl...,2021-02-13 21:00:01+00:00,0 days 00:11:59,UCX6OQ3DkcsbYNE6H8uQQuVA,1560431,111600,16954710

## Stats

                          length    stats.like  stats.comment    stats.view
count                         10  1.000000e+01      10.000000  1.000000e+01
mean             0 days 00:11:13  3.528396e+05   27666.400000  4.724833e+06
std    0 days 00:06:10.271672034  4.966723e+05   34068.814509  5.843320e+06
min              0 days 00:02:27  3.314000e+03    1095.000000  3.032640e+05
25%              0 days 00:07:42  2.610075e+04    4027.750000  7.577262e+05
50%              0 days 00:10:32  1.804395e+05   14957.500000  1.942008e+06
75%       0 days 00:16:20.250000  3.599115e+05   39188.500000  8.105718e+06
max              0 days 00:20:29  1.560431e+06  111600.000000  1.695471e+07

---

#### Search

In [6]:
items = youtube_o.video.search(
    count = count,
    keyword = ''
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,creator.id
0,SFEcUKN6oVs,It Gets Better - SNL,A campaign video demonstrates how participants...,2021-02-07 07:26:10+00:00,UCqFzWxSCi39LnW1JKFR3efg
1,-WYUOdeRZio,"Braun Strowman battles big men: WWE Top 10, Fe...",Braun Strowman is one of the strongest Superst...,2021-02-07 15:00:01+00:00,UCJ5v_MCY6GNUBTO8-D3XoAg
2,jk8_7PmKPBw,"Master - Deleted Scene | Thalapathy Vijay, Vij...","Presenting exclusive deleted clip from Master,...",2021-02-06 13:34:44+00:00,UC4zWG9LccdWGUlF77LZ8toA
3,EIDh4PSIBm4,PISTONS at LAKERS | FULL GAME HIGHLIGHTS | Feb...,PISTONS at LAKERS | FULL GAME HIGHLIGHTS | Feb...,2021-02-07 06:06:36+00:00,UCWJ2lWNubArHWmf3FIHbfcQ
4,0KAlqthD6Gc,All-Electric Cadillac LYRIQ | ScissorHandsFree...,"Timothée Chalamet stars as Edgar, the son of E...",2021-02-07 16:00:18+00:00,UCMMTsbfETvrSwwcvB7VE-iw

## Stats

,id,title,description,time,creator.id
count,10,10,10,10,10
unique,10,10,10,10,10
top,W0loGWdQYxk,Pawandeep ने दिया एक Mesmerizing Performance |...,Sen. Bill Cassidy (R-La.) talks about the upco...,2021-02-07 02:26:32+00:00,UCMMTsbfETvrSwwcvB7VE-iw
freq,1,1,1,1,1
first,NaN,NaN,NaN,2021-02-06 13:34:44+00:00,NaN
last,NaN,NaN,NaN,2021-02-07 19:00:17+00:00,NaN

---

#### Channels

In [7]:
items = youtube_o.channel.info(
    id = ['UC8Zo5A8qICfNAzVGDY_VT7w', 'UC0VOyT2OCBKdQhF3BAbZ-1g']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,stats.follow,stats.view,stats.posts
0,UC0VOyT2OCBKdQhF3BAbZ-1g,ArianaGrandeVevo,Listen & download positions: https://arianagra...,2010-10-21 23:38:49+00:00,18100000,16072730666,130
1,UC8Zo5A8qICfNAzVGDY_VT7w,MALINDA,Hello friends! I am a singer/songwriter/actor...,2012-03-01 18:12:44+00:00,309000,20131551,75

## Stats

       stats.follow    stats.view  stats.posts
count  2.000000e+00  2.000000e+00     2.000000
mean   9.204500e+06  8.046431e+09   102.500000
std    1.258014e+07  1.135090e+10    38.890873
min    3.090000e+05  2.013155e+07    75.000000
25%    4.756750e+06  4.033281e+09    88.750000
50%    9.204500e+06  8.046431e+09   102.500000
75%    1.365225e+07  1.205958e+10   116.250000
max    1.810000e+07  1.607273e+10   130.000000

---

## YouTube Internals

In [8]:
youtubei_o = youtubei(
    modules = modules,
    headers = headers
)

### Video Ads

In [9]:
items = youtubei_o.ad.placements(
    id = 'ur560pZKRfg'
)

res = []

for item in items:
    has_ad = False
    has_ad_at_beginning = False

    if not item == None:
        has_ad = True
        for ad in item['ads']:
            if ad['kind'] == youtubei.ad.kinds.START:
                has_ad_at_beginning = True
                break
    
    res.append({
        'id': item['id'],
        'has_ad': has_ad,
        'has_ad_at_beginning': has_ad_at_beginning
    })
    
df_report_from_json(res)

---

# Results

## Data Preview

            id  has_ad  has_ad_at_beginning
0  ur560pZKRfg    True                 True

## Stats

                 id has_ad has_ad_at_beginning
count             1      1                   1
unique            1      1                   1
top     ur560pZKRfg   True                True
freq              1      1                   1

---