# Demo

## Setup

In [1]:
!python3 -m pip install --user -r requirements.txt

Requirement already satisfied: grequests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 1))
Requirement already satisfied: python-dateutil in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 2))
Requirement already satisfied: isodate in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 3))
Requirement already satisfied: quickjs in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 4))
Requirement already satisfied: lxml in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 5))
Requirement already satisfied: requests in /usr/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1))
Requirement already satisfied: gevent in /home/rexjo/.local/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1))
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil->-r requirements.txt (line 2))
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: idna<2.8,>=2.5 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: setuptools in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: zope.event in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: greenlet<2.0,>=0.4.17; platform_python_implementation == "CPython" in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: zope.interface in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))

In [2]:
import IPython
import IPython.display as disp
import pandas as pd
from dcollect import *

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os):
    output([
            disp.Markdown('---'), 
            disp.Markdown('# Results')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

def df_report_from_json(items):
    df = pd.json_normalize(items, sep = '.')

    results_report([
        disp.Markdown('## Data Preview'),
        df.head(),
        disp.Markdown('## Stats'),
        df.describe()
    ])

In [3]:
modules = {'http': fasthttp()}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
}

## Data Collection

### YouTube (United States)

In [4]:
count = 10
api_key = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'

youtube_o = youtube(
    modules = modules,
    headers = headers,
    key = api_key
)

#### Trending

In [5]:
items = youtube_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,creator.id,stats.like,stats.dislike,stats.comment,stats.view
0,_v-U3K1sw9U,The Next Pandemic: Last Week Tonight with John...,"As COVID-19 continues to spread, John Oliver d...",2021-02-15 07:30:01+00:00,0 days 00:20:29,UC3XTzVzaHQEd30rQbuvCtTQ,121857,6000,13029,3858489
1,R3L_ezsLKkc,Claudia Conway Sings Adele Song And Shocks The...,It’s Claudia Conway’s time to shine! Claudia p...,2021-02-15 02:40:39+00:00,0 days 00:09:05,UCAMPco9PqjBbI_MLsDOO4Jw,18654,7991,5976,2239667
2,tH2tKigOPBU,Mars Rover Landing CRASH COURSE- 3 DAYS LEFT!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,UCY1kMZp36IQSyNx_9h4mpCg,349266,2850,25756,4866722
3,mgkKG2oGCgE,bad customers,Annoying customers are annoying. These are tim...,2021-02-15 19:04:08+00:00,0 days 00:08:46,UCOsATJw-IZgqGT8MFrHjKGg,122327,220,5561,620882
4,vM-Bja2Gy04,Zack Snyder's Justice League | Official Traile...,"In Zack Snyder's Justice League, determined to...",2021-02-14 15:15:16+00:00,0 days 00:02:27,UCx-KWLTKlB83hDI6UKECtJQ,437451,13197,53311,15695626

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,10,1.000000e+01,10.000000,10.000000,1.000000e+01
mean,0 days 00:18:39.100000,4.056510e+05,6185.500000,31095.100000,6.486136e+06
std,0 days 00:24:41.793316671,5.310623e+05,6031.676665,36041.951361,6.927372e+06
min,0 days 00:02:27,5.905000e+03,220.000000,1284.000000,6.208820e+05
25%,0 days 00:07:57.250000,5.258925e+04,797.500000,5664.750000,1.171554e+06
50%,0 days 00:10:32,2.213665e+05,4425.000000,19392.500000,3.520800e+06
75%,0 days 00:18:05.250000,4.154048e+05,11258.000000,44388.750000,1.184375e+07
max,0 days 01:26:47,1.659049e+06,16460.000000,117674.000000,1.871394e+07

---

#### Info

In [6]:
items = youtube_o.video.info(
    id = ['tH2tKigOPBU', '_uwNDiU04zE']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,creator.id,stats.like,stats.dislike,stats.comment,stats.view
0,tH2tKigOPBU,Mars Rover Landing CRASH COURSE- 3 DAYS LEFT!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,UCY1kMZp36IQSyNx_9h4mpCg,349265,2850,25756,4866722
1,_uwNDiU04zE,Press Subscribe For $.10,Subscribe and I'll Donate $0.10 To Charity\nPl...,2021-02-13 21:00:01+00:00,0 days 00:11:59,UCX6OQ3DkcsbYNE6H8uQQuVA,1659049,12347,117674,18713939

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,2,2.000000e+00,2.000000,2.000000,2.000000e+00
mean,0 days 00:14:38.500000,1.004157e+06,7598.500000,71715.000000,1.179033e+07
std,0 days 00:03:45.567063198,9.261571e+05,6715.393101,64995.841113,9.791461e+06
min,0 days 00:11:59,3.492650e+05,2850.000000,25756.000000,4.866722e+06
25%,0 days 00:13:18.750000,6.767110e+05,5224.250000,48735.500000,8.328526e+06
50%,0 days 00:14:38.500000,1.004157e+06,7598.500000,71715.000000,1.179033e+07
75%,0 days 00:15:58.250000,1.331603e+06,9972.750000,94694.500000,1.525213e+07
max,0 days 00:17:18,1.659049e+06,12347.000000,117674.000000,1.871394e+07

---

#### Search

In [7]:
items = youtube_o.video.search(
    count = count,
    keyword = ''
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,creator.id
0,_6r_1esxE64,FAST AND FURIOUS 9 Super Bowl Trailer (2021),New super bowl spot for FAST AND FURIOUS 9.,2021-02-07 22:44:43+00:00,UCT0hbLDa-unWsnZ6Rjzkfug
1,SilS_vq4XOw,NFL Super Bowl LV Commercial || As One,A voice from the past. A message for today. Vi...,2021-02-08 02:06:42+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg
2,PL3_SgjHhQwwLd5LmlBYDglmVyMxK1ogbW,ASMR - Ice Cream Rolls,Oddly satisfying ASMR Videos with Ice Cream Ro...,2019-10-17 13:42:57+00:00,UCAon55hNT6ESbdQ5y1hRWTA
3,IWBsDaFWyTE,Official Trailer | The Falcon and the Winter S...,Are you ready? Watch the brand-new trailer for...,2021-02-07 23:52:38+00:00,UCvC4D8onUfXzvjTOM-dBfEA
4,qTrYd6o-OR8,H.E.R. Sings America the Beautiful at Super Bo...,H.E.R. sings 'America the Beautiful' for the S...,2021-02-07 23:30:42+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg

## Stats

,id,title,description,time,creator.id
count,10,10,10,10,10
unique,10,10,10,10,7
top,9rhadTURsrw,All-Electric Cadillac LYRIQ | ScissorHandsFree...,A voice from the past. A message for today. Vi...,2021-02-07 16:00:18+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg
freq,1,1,1,1,4
first,NaN,NaN,NaN,2019-10-17 13:42:57+00:00,NaN
last,NaN,NaN,NaN,2021-02-11 16:00:00+00:00,NaN

---

#### Channels

In [8]:
items = youtube_o.channel.info(
    id = ['UC8Zo5A8qICfNAzVGDY_VT7w', 'UC0VOyT2OCBKdQhF3BAbZ-1g']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,stats.follower,stats.view,stats.post
0,UC0VOyT2OCBKdQhF3BAbZ-1g,ArianaGrandeVevo,Listen & download positions: https://arianagra...,2010-10-21 23:38:49+00:00,18100000,16080907582,130
1,UC8Zo5A8qICfNAzVGDY_VT7w,MALINDA,Hello friends! I am a singer/songwriter/actor...,2012-03-01 18:12:44+00:00,309000,20140064,75

## Stats

       stats.follower    stats.view  stats.post
count    2.000000e+00  2.000000e+00    2.000000
mean     9.204500e+06  8.050524e+09  102.500000
std      1.258014e+07  1.135668e+10   38.890873
min      3.090000e+05  2.014006e+07   75.000000
25%      4.756750e+06  4.035332e+09   88.750000
50%      9.204500e+06  8.050524e+09  102.500000
75%      1.365225e+07  1.206572e+10  116.250000
max      1.810000e+07  1.608091e+10  130.000000

---

## YouTube Internals

In [9]:
youtubei_o = youtubei(
    modules = modules,
    headers = headers
)

### Video Ads

In [10]:
items = youtubei_o.ad.placements(
    id = ['ur560pZKRfg', '_uwNDiU04zE']
)

res = []

for item in items:
    has_ad = False
    has_ad_at_beginning = False

    if not item == None:
        has_ad = True
        for ad in item['ads']:
            if ad['kind'] == youtubei.ad.kinds.START:
                has_ad_at_beginning = True
                break
    
    res.append({
        'id': item['id'],
        'has_ad': has_ad,
        'has_ad_at_beginning': has_ad_at_beginning
    })
    
df_report_from_json(res)

---

# Results

## Data Preview

            id  has_ad  has_ad_at_beginning
0  ur560pZKRfg    True                 True
1  _uwNDiU04zE    True                 True

## Stats

                 id has_ad has_ad_at_beginning
count             2      2                   2
unique            2      1                   1
top     _uwNDiU04zE   True                True
freq              1      2                   2

---

### TikTok (United States)

In [11]:
count = 10

tiktok_o = tiktok(
    modules = modules,
    headers = headers
)

#### Trending

In [12]:
items = tiktok_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,description,time,length,creator.id,creator.title,creator.description,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share
0,6925559746128907526,The house on the left is Owned by #IceDerulo. ...,2021-02-04 15:49:07,0 days 00:00:17,21609287,Jason Derulo,“Lifestyle” OUT NOW\nBooking Frank@23-manageme...,43100000,21,1875,984500000,646,1700000,8657,14800000,8385
1,6904810145583287557,TY @tiredmamateacher !!,2020-12-10 17:50:07,0 days 00:00:13,6604157541621252101,Moonpie,Moonpie Starbox\n👀👇,3900000,1599,5197,45400000,369,1300000,15100,16100000,144500
2,6916314483468078341,,2021-01-10 17:52:47,0 days 00:00:11,6906058618241156101,user2709816015424,To reach 500k follows ❤️❤️,593200,0,2,6600000,135,782600,10300,7700000,99500
3,6904757382992219398,MA killing the #walkchallenge #comedy #tiktok ...,2020-12-10 14:25:24,0 days 00:00:13,6842810395792262149,Patrice Lovely,https://www.instagram.com/actresspatrice/,1700000,9,609,8200000,62,1100000,14400,10900000,66900
4,6927642179250752774,#duet with @twinkkjohnson I DIED when I saw th...,2021-02-10 06:30:02,0 days 00:00:15,6809372973180912645,Heather Rex,"920 Curtiss St, Box #678\nDowners Grove, IL 60515",1200000,3264,32200,34600000,531,397300,7152,4100000,70300

## Stats

,length,creator.stats.follower,creator.stats.following,creator.stats.like,creator.stats.view,creator.stats.post,stats.like,stats.comment,stats.view,stats.share
count,10,1.000000e+01,10.000000,10.000000,1.000000e+01,10.000000,1.000000e+01,10.0000,1.000000e+01,10.000000
mean,0 days 00:00:15.300000,1.490983e+07,670.400000,9896.100000,1.731200e+08,323.700000,2.217990e+06,24860.9000,1.905000e+07,60248.500000
std,0 days 00:00:07.257945837,1.921656e+07,1066.268905,13080.913665,3.008856e+08,286.529444,2.020878e+06,17361.4236,1.461097e+07,41817.248837
min,0 days 00:00:09,2.361000e+05,0.000000,2.000000,3.900000e+06,34.000000,3.973000e+05,7152.0000,4.100000e+06,8385.000000
25%,0 days 00:00:12.250000,8.017500e+05,12.000000,207.000000,8.200000e+06,81.000000,1.150000e+06,11325.0000,1.110000e+07,28300.000000
50%,0 days 00:00:13.500000,2.800000e+06,35.500000,3536.000000,4.000000e+07,253.000000,1.550000e+06,16800.0000,1.515000e+07,57800.000000
75%,0 days 00:00:14.750000,2.875000e+07,879.250000,13475.000000,1.874000e+08,490.500000,2.675000e+06,36950.0000,2.187500e+07,80200.000000
max,0 days 00:00:35,4.810000e+07,3264.000000,33500.000000,9.845000e+08,891.000000,7.300000e+06,56100.0000,5.400000e+07,144500.000000

---

## !! EXAMPLE BREAK: Data wrangling

### Videos

Coming soon