# Demo

## Setup

In [1]:
!python3 -m pip install --user -r requirements.txt

Requirement already satisfied: grequests in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 1))
Requirement already satisfied: python-dateutil in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 2))
Requirement already satisfied: isodate in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 3))
Requirement already satisfied: quickjs in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 4))
Requirement already satisfied: lxml in /home/rexjo/.local/lib/python3.6/site-packages (from -r requirements.txt (line 5))
Requirement already satisfied: requests in /usr/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1))
Requirement already satisfied: gevent in /home/rexjo/.local/lib/python3.6/site-packages (from grequests->-r requirements.txt (line 1))
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil->-r requirements.txt (line 2))
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: idna<2.8,>=2.5 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/lib/python3.6/site-packages (from requests->grequests->-r requirements.txt (line 1))
Requirement already satisfied: greenlet<2.0,>=0.4.17; platform_python_implementation == "CPython" in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: zope.event in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: zope.interface in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))
Requirement already satisfied: setuptools in /home/rexjo/.local/lib/python3.6/site-packages (from gevent->grequests->-r requirements.txt (line 1))

In [2]:
import IPython
import IPython.display as disp
import pandas as pd
from dcollect import *

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os):
    output([
            disp.Markdown('---'), 
            disp.Markdown('# Results')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

def df_report_from_json(items):
    df = pd.json_normalize(items, sep = '.')

    results_report([
        disp.Markdown('## Data Preview'),
        df.head(),
        disp.Markdown('## Stats'),
        df.describe()
    ])

In [3]:
modules = {'http': fasthttp()}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
}

## Data Collection

### YouTube (United States)

In [4]:
count = 10
api_key = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'

youtube_o = youtube(
    modules = modules,
    key = api_key,
    headers = headers
)

#### Trending

In [5]:
items = youtube_o.video.trending(
    count = count
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,creator.id,stats.like,stats.comment,stats.view
0,_v-U3K1sw9U,The Next Pandemic: Last Week Tonight with John...,"As COVID-19 continues to spread, John Oliver d...",2021-02-15 07:30:01+00:00,0 days 00:20:29,UC3XTzVzaHQEd30rQbuvCtTQ,110471,11621,3113476
1,R3L_ezsLKkc,Claudia Conway Sings Adele Song And Shocks The...,It’s Claudia Conway’s time to shine! Claudia p...,2021-02-15 02:40:39+00:00,0 days 00:09:05,UCAMPco9PqjBbI_MLsDOO4Jw,16552,5046,1857613
2,tH2tKigOPBU,Mars Rover Landing CRASH COURSE- 3 DAYS LEFT!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,UCY1kMZp36IQSyNx_9h4mpCg,337926,24982,4456017
3,vM-Bja2Gy04,Zack Snyder's Justice League | Official Traile...,"In Zack Snyder's Justice League, determined to...",2021-02-14 15:15:16+00:00,0 days 00:02:27,UCx-KWLTKlB83hDI6UKECtJQ,412175,50140,14696376
4,f5omY8jVrSM,BAD BUNNY x ROSALÍA - LA NOCHE DE ANOCHE (Vide...,BAD BUNNY x ROSALÍA - LA NOCHE DE ANOCHE\nhttp...,2021-02-14 17:00:20+00:00,0 days 00:03:38,UCmBA_wu8xGg1OfOkfW13Q0Q,958705,44090,13203527

## Stats

                          length    stats.like  stats.comment    stats.view
count                         10  1.000000e+01      10.000000  1.000000e+01
mean      0 days 00:10:29.500000  4.920414e+05   44548.200000  6.529564e+06
std    0 days 00:06:28.582681034  5.584192e+05   50741.439991  6.381915e+06
min              0 days 00:02:27  5.234000e+03    1535.000000  7.406420e+05
25%       0 days 00:04:43.250000  4.078400e+04    6689.750000  2.121276e+06
50%              0 days 00:09:39  3.223800e+05   32388.500000  3.784746e+06
75%       0 days 00:15:58.250000  8.220725e+05   48627.500000  1.124389e+07
max              0 days 00:20:29  1.624938e+06  151206.000000  1.819937e+07

---

#### Info

In [6]:
items = youtube_o.video.info(
    id = ['tH2tKigOPBU', '_uwNDiU04zE']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,length,creator.id,stats.like,stats.comment,stats.view
0,tH2tKigOPBU,Mars Rover Landing CRASH COURSE- 3 DAYS LEFT!,This will be cooler than the Super Bowl. Thank...,2021-02-15 03:35:30+00:00,0 days 00:17:18,UCY1kMZp36IQSyNx_9h4mpCg,337926,24982,4456017
1,_uwNDiU04zE,Press Subscribe For $.10,Subscribe and I'll Donate $0.10 To Charity\nPl...,2021-02-13 21:00:01+00:00,0 days 00:11:59,UCX6OQ3DkcsbYNE6H8uQQuVA,1624941,115426,18199372

## Stats

                          length    stats.like  stats.comment    stats.view
count                          2  2.000000e+00       2.000000  2.000000e+00
mean      0 days 00:14:38.500000  9.814335e+05   70204.000000  1.132769e+07
std    0 days 00:03:45.567063198  9.100570e+05   63953.565718  9.718020e+06
min              0 days 00:11:59  3.379260e+05   24982.000000  4.456017e+06
25%       0 days 00:13:18.750000  6.596798e+05   47593.000000  7.891856e+06
50%       0 days 00:14:38.500000  9.814335e+05   70204.000000  1.132769e+07
75%       0 days 00:15:58.250000  1.303187e+06   92815.000000  1.476353e+07
max              0 days 00:17:18  1.624941e+06  115426.000000  1.819937e+07

---

#### Search

In [7]:
items = youtube_o.video.search(
    count = count,
    keyword = ''
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,creator.id
0,SFEcUKN6oVs,It Gets Better - SNL,A campaign video demonstrates how participants...,2021-02-07 07:26:10+00:00,UCqFzWxSCi39LnW1JKFR3efg
1,_6r_1esxE64,FAST AND FURIOUS 9 Super Bowl Trailer (2021),New super bowl spot for FAST AND FURIOUS 9.,2021-02-07 22:44:43+00:00,UCT0hbLDa-unWsnZ6Rjzkfug
2,SilS_vq4XOw,NFL Super Bowl LV Commercial || As One,A voice from the past. A message for today. Vi...,2021-02-08 02:06:42+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg
3,qTrYd6o-OR8,H.E.R. Sings America the Beautiful at Super Bo...,H.E.R. sings 'America the Beautiful' for the S...,2021-02-07 23:30:42+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg
4,EIDh4PSIBm4,PISTONS at LAKERS | FULL GAME HIGHLIGHTS | Feb...,PISTONS at LAKERS | FULL GAME HIGHLIGHTS | Feb...,2021-02-07 06:06:36+00:00,UCWJ2lWNubArHWmf3FIHbfcQ

## Stats

,id,title,description,time,creator.id
count,10,10,10,10,10
unique,10,10,10,10,8
top,EIDh4PSIBm4,NFL Super Bowl LV Commercial || As One,PISTONS at LAKERS | FULL GAME HIGHLIGHTS | Feb...,2021-02-07 16:00:18+00:00,UCDVYQ4Zhbm3S2dlz7P1GBDg
freq,1,1,1,1,2
first,NaN,NaN,NaN,2021-02-07 01:47:01+00:00,NaN
last,NaN,NaN,NaN,2021-02-09 05:21:22+00:00,NaN

---

#### Channels

In [8]:
items = youtube_o.channel.info(
    id = ['UC8Zo5A8qICfNAzVGDY_VT7w', 'UC0VOyT2OCBKdQhF3BAbZ-1g']
)

df_report_from_json(list(items))

---

# Results

## Data Preview

,id,title,description,time,stats.follow,stats.view,stats.posts
0,UC8Zo5A8qICfNAzVGDY_VT7w,MALINDA,Hello friends! I am a singer/songwriter/actor...,2012-03-01 18:12:44+00:00,309000,20137308,75
1,UC0VOyT2OCBKdQhF3BAbZ-1g,ArianaGrandeVevo,Listen & download positions: https://arianagra...,2010-10-21 23:38:49+00:00,18100000,16078008070,130

## Stats

       stats.follow    stats.view  stats.posts
count  2.000000e+00  2.000000e+00     2.000000
mean   9.204500e+06  8.049073e+09   102.500000
std    1.258014e+07  1.135463e+10    38.890873
min    3.090000e+05  2.013731e+07    75.000000
25%    4.756750e+06  4.034605e+09    88.750000
50%    9.204500e+06  8.049073e+09   102.500000
75%    1.365225e+07  1.206354e+10   116.250000
max    1.810000e+07  1.607801e+10   130.000000

---

## YouTube Internals

In [9]:
youtubei_o = youtubei(
    modules = modules,
    headers = headers
)

### Video Ads

In [10]:
items = youtubei_o.ad.placements(
    id = 'ur560pZKRfg'
)

res = []

for item in items:
    has_ad = False
    has_ad_at_beginning = False

    if not item == None:
        has_ad = True
        for ad in item['ads']:
            if ad['kind'] == youtubei.ad.kinds.START:
                has_ad_at_beginning = True
                break
    
    res.append({
        'id': item['id'],
        'has_ad': has_ad,
        'has_ad_at_beginning': has_ad_at_beginning
    })
    
df_report_from_json(res)

---

# Results

## Data Preview

            id  has_ad  has_ad_at_beginning
0  ur560pZKRfg    True                 True

## Stats

                 id has_ad has_ad_at_beginning
count             1      1                   1
unique            1      1                   1
top     ur560pZKRfg   True                True
freq              1      1                   1

---