# Data Sampling

## Setup

In [1]:
import sys

!{sys.executable} -m pip install --quiet --user --upgrade pandas==1.*
!{sys.executable} -m pip install --quiet --user --upgrade -r requirements.txt

In [2]:
import IPython
import IPython.display as disp

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def clear():
    disp.clear_output(wait = True)

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os, name = ''):
    output([
            disp.Markdown('---'), 
            disp.Markdown(f'# Results - {name}')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

In [3]:
import pandas as pd

def df_from_json(items, *args, **kwargs):
    return pd.json_normalize(items, *args, **kwargs)

def df_report(dfs, full = False, *args, **kwargs):
    dfs = [dfs] if not isinstance(dfs, list) else dfs
    for df in dfs:
        results_report([
            disp.Markdown('## Data Preview'),
            df.head() if not full else df,
            disp.Markdown('## Stats'),
            df.describe()
        ], *args, **kwargs)

def df_report_from_json(items, name = '', full = False, *args, **kwargs):
    return df_report(df_from_json(items, *args, **kwargs), name = name, full = full)

## Data Collection

In [4]:
from dcollect import plugins

modules = {'http': plugins.fasthttp()}
headers = None

### YouTube (United States)

Initial setup. Be sure to have your API key ready. For details on how to obtain an API key, read [YouTube Data API Overview, Introduction: Before you start](https://developers.google.com/youtube/v3/getting-started#before-you-start).

In [5]:
from dcollect import api_youtube as youtube
from dcollect import api_youtubei as youtubei

# This key is for testing ONLY. DO NOT release to the public!
api_key_testing = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'
api_key = api_key_testing or input('YouTube Data API Key: ')

#### Search

In [6]:
count = 20
keyword = ''

##### STEP 1  API Object Creation

In [7]:
# create a YouTube API object
youtube_o = youtube.api(
    modules = modules,
    headers = headers,
    key = api_key
)

# create a YouTube Internals API object
youtubei_o = youtubei.api(
    modules = modules,
    headers = headers
)

##### STEP 2  Data Collection

In [8]:
from dcollect.utils.thread import threading, thread


df_search = df_from_json(
    youtube_o.video.search(
        count = count,
        keyword = keyword
    )
)

df_info = None
df_channels = None
df_ads = None

thread.start([
    threading.Thread(
        # - info
        target = lambda: \
            globals().update(
                df_info = df_from_json(
                    youtube_o.video.info(
                        id = df_search['id']
                    )
                )
            )
    ),
    threading.Thread(
        # - channels
        target = lambda: \
            globals().update(
                df_channels = df_from_json(
                    youtube_o.channel.info(
                        id = df_search['creator.id']
                    )
                )
            )
    ),
    threading.Thread(
        # - ad placements
        target = lambda: \
            globals().update(
                df_ads = df_from_json(
                    youtubei_o.ad.placements(
                        id = df_search['id']
                    )
                )
            )
    )
])
thread.join()

WARNING:root:[api] less data returned than expected. expected 20 but was 19

##### STEP 3  Data Cleaning

In [9]:
# - ads (filter)
def filter_has_ad(ads):
    return not ads == None 
def filter_has_ad_beginning(ads):
    if ads == None:
        return False
    for ad in ads:
        if ad['kind'] == youtubei.resource.ad.kinds.START:
            return True
    return False
# - * (filter)
def drop_common(df, df_other, *args, **kwargs):
    return df.drop(columns = df.columns & df_other.columns, *args, **kwargs)

# - search
df_search.set_index(['id', 'creator.id'], inplace = True)
# - info
df_info.set_index(['id', 'creator.id'], inplace = True)
# - channels
df_channels = df_channels.add_prefix('creator.')
df_channels.set_index(['creator.id'], inplace = True)
# - ads
df_ads.set_index(['id'], inplace = True)
df_ads['has_ad'] = df_ads['ads'].apply(filter_has_ad)
df_ads['has_ad_at_beginning'] = \
        df_ads['ads'].apply(filter_has_ad_beginning)
df_ads.drop('ads', axis = 'columns', inplace = True)

# drop common columns to avoid clashing
# in this case, only `df_search` and `df_info` have merging conflicts
drop_common(df_search, df_info, inplace = True)

# - search (with details)
df_search_details = df_search.copy()
# - info
df_search_details = df_search_details.merge(
    df_info, 
    right_index = True, 
    on = 'id', 
    copy = False
)
# - channels
df_search_details = df_search_details.merge(
    df_channels, 
    right_index = True, 
    on = 'creator.id', 
    copy = False
)
# - ads
df_search_details = df_search_details.merge(
    df_ads, 
    right_index = True, 
    on = 'id', 
    copy = False
)

##### STEP 4  Data Inspection

In [10]:
# take a brief look at our data
df_report(df_search_details, name = 'Search Results')

---

# Results - Search Results

## Data Preview

,,title,description,time,length,tags,category,stats.like,stats.dislike,stats.comment,stats.view,video.quality,creator.title,creator.description,creator.time,creator.stats.follower,creator.stats.view,creator.stats.post,has_ad,has_ad_at_beginning
id,creator.id,,,,,,,,,,,,,,,,,,,
6bGpGQ08gQs,UCF4Wxdo3inmxP-Y59wXDsFw,피로 물든 미얀마…무차별 발포에 30명 사망 (2021.03.01/뉴스데스크/MBC),"미얀마 군부가 쿠데타를 일으킨지 한 달 째, 미얀마에선 '피의 일요일'이 반복되고 ...",2021-03-01 11:24:24+00:00,0 days 00:02:31,"[MBC, MBC뉴스, 뉴스데스크, newsdesk, 뉴스투데이, newstoday...",News & Politics,4210,123,4224,553593,HD,MBCNEWS,MBC 뉴스 공식 유튜브 채널입니다. 시청자 여러분의 의견과 제보를 항상 기다립니다...,2006-11-05 21:58:51+00:00,1140000,2169439928,101323,True,True
Hs-mgG2uEjA,UCNAf1k0yIjyGu3k9BwAg3lg,"Keane and Redknapp get HEATED over ""average"" S...",SUBSCRIBE ► http://bit.ly/SSFootballSub\nPREMI...,2021-02-28 14:07:11+00:00,0 days 00:07:15,"[sky sports, sky sports football, premier leag...",Sports,24991,388,6971,1376675,HD,Sky Sports Football,Sky Sports Football is the home of Sky Sports'...,2015-07-06 11:11:54+00:00,2780000,1654548702,4817,True,True
w1B-NvBVtrw,UC9-OpMMVoNP5o10_Iyq7Ndw,Giannis Antetokounmpo Throws Down Monster Slam...,GREEK FREAK CALLED GAME. \n\r\nSubscribe: http...,2021-02-28 23:11:18+00:00,0 days 00:00:52,"[bleacher report, br, nba, giannis antetokounm...",Sports,4951,93,1582,437508,HD,Bleacher Report,The official YouTube page of Bleacher Report. ...,2007-09-14 18:23:54+00:00,2170000,1056524145,4622,True,True
eYO7Ccj1Iok,UCDkl5M0WVaddTWE4rr2cSeA,DES MEILLEURES AMIES ECHANGENT LEURS VIES PEND...,Je connais ma meilleure amie Solene depuis 22 ...,2021-02-28 20:13:20+00:00,0 days 00:23:29,"[lena situations, lena, lena situation, situat...",People & Blogs,112663,517,2077,1390603,HD,Léna Situations,désolée je suis nulle pour les descriptions,2013-01-14 17:22:41+00:00,1810000,263268098,296,True,True
THO5uwcKRsc,UCPvObfhnwu_QNi6mc4z5UPQ,بنزل أشوف الـ lady عمشة إيش عندها؟ 😂 ورق عنب و...,بنزل أشوف الـ lady عمشة إيش عندها؟ 😂 ورق عنب و...,2021-02-28 18:50:39+00:00,0 days 00:03:29,"[mbc, shahid]",Entertainment,12330,604,396,911153,HD,MBC1,انطلق بث قناة MBC1 في عام 1991 .. \nلتوفّر للم...,2015-02-08 10:05:10+00:00,5020000,3129886674,20983,True,True

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view,creator.stats.follower,creator.stats.view,creator.stats.post
count,19,19.000000,19.000000,19.000000,1.900000e+01,1.900000e+01,1.900000e+01,19.000000
mean,0 days 00:11:02.736842105,21335.789474,537.421053,1659.000000,9.394094e+05,1.451526e+07,1.202591e+10,26292.315789
std,0 days 00:12:39.649761557,26473.073487,691.917570,1929.868764,6.911359e+05,2.461009e+07,2.153858e+10,33536.132093
min,0 days 00:00:52,205.000000,10.000000,8.000000,9.274300e+04,4.670000e+05,1.308057e+08,177.000000
25%,0 days 00:02:15.500000,5002.000000,193.500000,312.500000,4.552255e+05,1.215000e+06,6.791968e+08,899.500000
50%,0 days 00:06:26,8875.000000,388.000000,756.000000,7.936340e+05,2.730000e+06,1.735931e+09,4817.000000
75%,0 days 00:15:05,26960.500000,591.500000,2168.000000,1.224216e+06,1.940000e+07,1.277497e+10,41850.000000
max,0 days 00:46:59,112663.000000,3154.000000,6971.000000,2.819452e+06,9.800000e+07,8.064688e+10,105637.000000

---

##### STEP 5  Data Archiving

In [11]:
pickle_proto = 3
pickle_fname = 'dsamples/youtube_search.pkl'

df_search_details.to_pickle(pickle_fname, protocol = pickle_proto)

# verify that we saved the correct data
df_search_details_check = pd.read_pickle(pickle_fname)
df_report(df_search_details_check, name = 'Search Results (Verification)')

---

# Results - Search Results (Verification)

## Data Preview

,,title,description,time,length,tags,category,stats.like,stats.dislike,stats.comment,stats.view,video.quality,creator.title,creator.description,creator.time,creator.stats.follower,creator.stats.view,creator.stats.post,has_ad,has_ad_at_beginning
id,creator.id,,,,,,,,,,,,,,,,,,,
6bGpGQ08gQs,UCF4Wxdo3inmxP-Y59wXDsFw,피로 물든 미얀마…무차별 발포에 30명 사망 (2021.03.01/뉴스데스크/MBC),"미얀마 군부가 쿠데타를 일으킨지 한 달 째, 미얀마에선 '피의 일요일'이 반복되고 ...",2021-03-01 11:24:24+00:00,0 days 00:02:31,"[MBC, MBC뉴스, 뉴스데스크, newsdesk, 뉴스투데이, newstoday...",News & Politics,4210,123,4224,553593,HD,MBCNEWS,MBC 뉴스 공식 유튜브 채널입니다. 시청자 여러분의 의견과 제보를 항상 기다립니다...,2006-11-05 21:58:51+00:00,1140000,2169439928,101323,True,True
Hs-mgG2uEjA,UCNAf1k0yIjyGu3k9BwAg3lg,"Keane and Redknapp get HEATED over ""average"" S...",SUBSCRIBE ► http://bit.ly/SSFootballSub\nPREMI...,2021-02-28 14:07:11+00:00,0 days 00:07:15,"[sky sports, sky sports football, premier leag...",Sports,24991,388,6971,1376675,HD,Sky Sports Football,Sky Sports Football is the home of Sky Sports'...,2015-07-06 11:11:54+00:00,2780000,1654548702,4817,True,True
w1B-NvBVtrw,UC9-OpMMVoNP5o10_Iyq7Ndw,Giannis Antetokounmpo Throws Down Monster Slam...,GREEK FREAK CALLED GAME. \n\r\nSubscribe: http...,2021-02-28 23:11:18+00:00,0 days 00:00:52,"[bleacher report, br, nba, giannis antetokounm...",Sports,4951,93,1582,437508,HD,Bleacher Report,The official YouTube page of Bleacher Report. ...,2007-09-14 18:23:54+00:00,2170000,1056524145,4622,True,True
eYO7Ccj1Iok,UCDkl5M0WVaddTWE4rr2cSeA,DES MEILLEURES AMIES ECHANGENT LEURS VIES PEND...,Je connais ma meilleure amie Solene depuis 22 ...,2021-02-28 20:13:20+00:00,0 days 00:23:29,"[lena situations, lena, lena situation, situat...",People & Blogs,112663,517,2077,1390603,HD,Léna Situations,désolée je suis nulle pour les descriptions,2013-01-14 17:22:41+00:00,1810000,263268098,296,True,True
THO5uwcKRsc,UCPvObfhnwu_QNi6mc4z5UPQ,بنزل أشوف الـ lady عمشة إيش عندها؟ 😂 ورق عنب و...,بنزل أشوف الـ lady عمشة إيش عندها؟ 😂 ورق عنب و...,2021-02-28 18:50:39+00:00,0 days 00:03:29,"[mbc, shahid]",Entertainment,12330,604,396,911153,HD,MBC1,انطلق بث قناة MBC1 في عام 1991 .. \nلتوفّر للم...,2015-02-08 10:05:10+00:00,5020000,3129886674,20983,True,True

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view,creator.stats.follower,creator.stats.view,creator.stats.post
count,19,19.000000,19.000000,19.000000,1.900000e+01,1.900000e+01,1.900000e+01,19.000000
mean,0 days 00:11:02.736842105,21335.789474,537.421053,1659.000000,9.394094e+05,1.451526e+07,1.202591e+10,26292.315789
std,0 days 00:12:39.649761557,26473.073487,691.917570,1929.868764,6.911359e+05,2.461009e+07,2.153858e+10,33536.132093
min,0 days 00:00:52,205.000000,10.000000,8.000000,9.274300e+04,4.670000e+05,1.308057e+08,177.000000
25%,0 days 00:02:15.500000,5002.000000,193.500000,312.500000,4.552255e+05,1.215000e+06,6.791968e+08,899.500000
50%,0 days 00:06:26,8875.000000,388.000000,756.000000,7.936340e+05,2.730000e+06,1.735931e+09,4817.000000
75%,0 days 00:15:05,26960.500000,591.500000,2168.000000,1.224216e+06,1.940000e+07,1.277497e+10,41850.000000
max,0 days 00:46:59,112663.000000,3154.000000,6971.000000,2.819452e+06,9.800000e+07,8.064688e+10,105637.000000

---