# Data Sampling

## Setup

In [1]:
import sys

!{sys.executable} -m pip install --quiet --user --upgrade ipykernel
!{sys.executable} -m pip install --quiet --user --upgrade pandas==1.*
!{sys.executable} -m pip install --quiet --user --upgrade -r requirements.txt

In [2]:
from goodies import *
import pandas as pd
import os
import logging

## Data Collection

In [3]:
from dcollect import plugins

modules = {'http': plugins.fasthttp()}
headers = None

### YouTube (United States)

Initial setup. Be sure to have your API key ready. For details on how to obtain an API key, read [YouTube Data API Overview, Introduction: Before you start](https://developers.google.com/youtube/v3/getting-started#before-you-start).

In [4]:
from dcollect import api_youtube as youtube
from dcollect import api_youtubei as youtubei

# This key is for testing ONLY. DO NOT release to the public!
api_experiment = False
api_key_testing = None
api_key = os.environ.get('YOUTUBE_API_KEY') or api_key_testing

if not api_key:
    api_key = os.environ.get('YOUTUBE_EXPLORER_API_KEY')
    if api_key: 
        api_experiment = True
    else: 
        api_key = input('YouTube Data API Key: ')
        api_experiment = (input('Is this an explorer key? [Y/N]: ') == 'Y')

dataset_id = os.environ.get('DATASET_NAME')
if dataset_id == None:
    dataset_id = input('Dataset Name: ')
    
sample_size_per_query_default = 1000000
sample_size_per_query = os.environ.get('SAMPLE_SIZE_PER_QUERY')    
if sample_size_per_query == None:
    sample_size_per_query = input('Sample size per query: ') or sample_size_per_query_default
    
sample_size_per_query = int(sample_size_per_query)

YouTube Data API Key: AIzaSyAa8yy0GdcGPHdtD083HiGGx_S0vMPScDM
Is this an explorer key? [Y/N]: Y
Dataset Name: random_extended_ascii
Sample size per query: 500

#### Search

##### STEP 1  Data Collection

In [5]:
# create a YouTube API object
youtube_o = youtube.api(
    modules = modules,
    headers = headers,
    key = api_key,
    experiment = api_experiment
)

# create a YouTube Internals API object
youtubei_o = youtubei.api(
    modules = modules,
    headers = headers
)

pickle_proto = 3
dataset = eda_utils.dataset(f'dsamples/youtube_search_{dataset_id}.dataset')

In [6]:
def df_search_gen(*args, **kwargs):
    from dcollect.utils.log import log
    log.enable(level = log.levels.WARNING)
    import concurrent.futures

    df_search = None
    df_info = None
    df_channels = None
    df_ads = None
    
    def worker_df_search(*args, **kwargs):
        nonlocal df_search
        df_search = df_from_json(
            youtube_o.video.search(
                *args, **kwargs
            )
        )
        
    def worker_df_info():
        nonlocal df_info
        df_info = df_from_json(
            youtube_o.video.info(
                id = df_search['id']
            )
        )
            
    def worker_df_ads():
        nonlocal df_ads
        df_ads = df_from_json(
            youtubei_o.ad.placements(
                id = df_search['id'],
                throttle_size = 50
            )
        )
            
    def worker_df_channels():
        nonlocal df_channels
        df_channels = df_from_json(
            youtube_o.channel.info(
                id = df_search['creator.id']
            )
        )
            
    # - search
    worker_df_search(*args, **kwargs)
    
    workers = [worker_df_info, worker_df_ads, worker_df_channels]
    with concurrent.futures.ThreadPoolExecutor(max_workers = len(workers)) as executor:
        for worker in workers:
            executor.submit(worker)
        #executor.shutdown(wait = True)
                
    return df_search, df_info, df_channels, df_ads

In [9]:
def df_search_gen_bulk(paramlist: list):
    import concurrent.futures
    
    futures = []
    results = []
    with concurrent.futures.ThreadPoolExecutor(max_workers = len(paramlist)) as executor:
        futures = [executor.submit(df_search_gen, **param) for param in paramlist]
        #results = [f.result() for f in concurrent.futures.as_completed(futures)]
        
    #return results
    return [f.result() for f in futures]

In [10]:
import string

param_default = {
    'count': sample_size_per_query
}

paramlist = []
for c in string.ascii_lowercase:
    param = dict(param_default)
    param.update({
        'keyword': c
    })
    paramlist.append(param)
    
df_search = pd.DataFrame()
df_info = pd.DataFrame()
df_channels = pd.DataFrame()
df_ads = pd.DataFrame()

results = df_search_gen_bulk(paramlist)

WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 400
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 432
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 440
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 429
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 419
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 437
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 415
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 445
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 417
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 481
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 457
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 447
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 481
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 484
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 483
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 484
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 474
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 460
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 468
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 480
WARNING:root:[api] ?: ?
WARNING:root:[api] less data returned than expected. expected 500 but was 456

In [11]:
def transpose(l):
    return list(map(list, zip(*l)))

df_search_res, df_info_res, df_channels_res, df_ads_res = transpose(results)

df_search = pd.concat(df_search_res, copy = False)
df_info = pd.concat(df_info_res, copy = False)
df_channels = pd.concat(df_channels_res, copy = False)
df_ads = pd.concat(df_ads_res, copy = False)

dataset.update('youtube_search.pkl', df_search, overwrite = True, proto = pickle_proto)
dataset.update('youtube_search_info.pkl', df_info, overwrite = True, proto = pickle_proto)
dataset.update('youtube_search_ads.pkl', df_ads, overwrite = True, proto = pickle_proto)
dataset.update('youtube_search_channels.pkl', df_channels, overwrite = True, proto = pickle_proto)

df_report(df_search, name = 'Search Result (Original)')
df_report(df_info, name = 'Info (Original)')
df_report(df_channels, name = 'Channels (Original)')
df_report(df_ads, name = 'Ad Placements (Original)')

/home/jared/lab/group068_wi21/EDA/goodies.py:57: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

---

# Results - Search Result (Original)

## Data Preview

,id,title,description,time,tags,creator.id
0,mwuL0UmFPQk,NiKO got a HAiRCUT ✂️ ADLEY has a new HAiRST...,Best Park Day Ever 1186 Today's Best Day Ever ...,2021-03-09 16:00:30+00:00,None,UCoK5NOxkZBLfI_5eqf8Es4Q
1,YNeKQhPIpt8,KiDS Leprechaun TRAP!! Adley &amp; Niko make ...,The ultimate plan to catch a Leprechaun LET'...,2021-03-08 16:00:44+00:00,None,UCBJuxfqZuiibvcwSc8ViGsQ
2,IqYVcxs4Qr0,🔴 Live: Baby&#39;s First Steps - Wolfoo Preten...,Live: Baby's First Steps - Wolfoo Pretends to ...,2021-03-11 07:16:45+00:00,None,UCWGVQIspqW2j9M3-qLQ0HDg
3,Be-WVy8P4M0,【CUPHEAD #02】A GRAND SLAYING AND THEN SOME!!! ...,"What is up, humans?! ♡ Calliope Mori（森 カリオペ）he...",2021-03-11 03:33:29+00:00,None,UCL_qhgtOy0dy1Agp8vkySQg
4,pMTRTl2GcSk,Surprising My Twin Best Friend With A Bad Hair...,Do you think new our twin Karen haircuts are t...,2021-03-10 17:09:40+00:00,None,UCfw8x3VR-ElcaWW2Tg_jgSA

## Stats

,id,title,description,time,tags,creator.id
count,11989,11989,11812,11989,0,11989
unique,11284,11253,10416,11134,0,6342
top,jtJVAdSJuFQ,Convoy,#MeControTe #TeamTrote #Adv #LuieSofi © ME CON...,2020-11-13 16:46:40+00:00,NaN,UCLqCmbd6bgcLaBVz3aA-68A
freq,16,16,29,16,NaN,83
first,NaN,NaN,NaN,2006-07-27 20:08:46+00:00,NaN,NaN
last,NaN,NaN,NaN,2021-03-11 11:30:06+00:00,NaN,NaN

---

---

# Results - Info (Original)

## Data Preview

,id,title,description,time,length,tags,category,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality
0,G0WZJTTDEDc,Nastya and dad found a treasure at sea,Nastya found a treasure on the sea and dad wan...,2020-08-01 07:00:03+00:00,0 days 00:09:38,"[treasure, pretend play, toys, on the sea, on ...",Entertainment,UCS94J1s6-qc8v7btCdS2pNg,247633.0,112451.0,NaN,57134929.0,HD
1,C8FQ4wQXyaE,Chayanne - Humanos a Marte (Official Video),"Chayanne® - ""Humanos a Marte"" (Official Music ...",2014-06-23 15:00:02+00:00,0 days 00:04:31,"[Chayannevevo, vevo, official, video, music vi...",Music,UCfbQgKWGkTqGie-arknW-Ew,506692.0,20235.0,14478.0,124428138.0,HD
2,Ey_UU9XIcRM,LaMelo Ball is a problem! - Draymond Green lov...,Draymond Green interview: LaMelo Ball is a pro...,2021-03-10 18:13:46+00:00,0 days 00:05:46,"[lamelo ball, espn, draymond green, nba, nba o...",Sports,UCiWLfSweyRNmLpgEHekhoAg,6576.0,138.0,890.0,374765.0,HD
3,vhTKfMTdFWE,our Family makes Spooky Crafts!! Painting! Pir...,Halloween painting and remembering our favorit...,2020-10-15 15:04:49+00:00,0 days 01:06:44,"[Shonduras, Best Day Ever, our Family makes Sp...",Entertainment,UCoK5NOxkZBLfI_5eqf8Es4Q,18246.0,2954.0,1399.0,3765755.0,HD
4,lvsZBBQ8RP8,Can You Keep A Secret?,"Thinking they're about to crash, a young woman...",2019-09-13 04:00:23+00:00,0 days 01:34:37,None,Movies,UCJZsrC5DSNf4e8Rw7X1bbPA,1167.0,24.0,52.0,NaN,HD

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,6384,6.290000e+03,6.290000e+03,5937.000000,6.192000e+03
mean,0 days 00:20:06.184993734,1.764896e+05,2.122356e+04,8053.024255,3.056391e+07
std,0 days 00:37:51.338771634,5.773542e+05,1.310288e+05,34401.280359,1.300932e+08
min,0 days 00:00:00,1.000000e+00,0.000000e+00,0.000000,1.190000e+02
25%,0 days 00:03:27,1.114000e+03,4.300000e+01,52.000000,8.630300e+04
50%,0 days 00:05:46,1.283100e+04,3.400000e+02,557.000000,7.487240e+05
75%,0 days 00:15:26,9.235600e+04,2.934000e+03,3604.000000,6.913564e+06
max,0 days 07:37:09,7.230854e+06,2.773799e+06,588548.000000,1.959206e+09

---

---

# Results - Channels (Original)

## Data Preview

,id,title,description,time,stats.follower,stats.view,stats.post
0,UC22-YNKMAJBvbiy2Lqk0wQQ,Időkép,Az Időkép hivatalos csatornája.,2009-07-17 22:18:28+00:00,10200.0,30788071,3053
1,UCspBdT0UySegWYJpEBO4YYg,KuGo,"Hey, i'm Kugo. The Biggest Gaming Channel on Y...",2017-07-12 12:27:12+00:00,1930000.0,493517519,546
2,UC5-zyJK_ME0by19d8-nBm7A,SANTI,🔴¡HOLA QUE HAY!🔴 Me llamo Alexis Santiago Altu...,2019-04-26 01:39:18+00:00,534000.0,53526091,43
3,UCwlc_KWEDOd3nlvsxYcRb7A,YouTube Movies,YouTube's movies destination featuring the lat...,2019-01-17 20:27:40+00:00,NaN,39146,1
4,UCKuMjy0WZay7cfXMqjPZR6g,YouTube Movies,YouTube's movies destination featuring the lat...,2019-01-17 17:37:32+00:00,NaN,366,2

## Stats

       stats.follower    stats.view     stats.post
count    3.638000e+03  3.933000e+03    3933.000000
mean     3.265043e+06  1.484304e+09    4307.686245
std      8.333165e+06  5.099797e+09   21153.341287
min      7.400000e+01  3.000000e+00       1.000000
25%      1.120000e+05  2.269906e+07      89.000000
50%      7.290000e+05  2.112579e+08     354.000000
75%      2.630000e+06  8.523498e+08    1467.000000
max      1.060000e+08  9.587260e+10  283986.000000

---

ValueError: Cannot describe a DataFrame without columns

##### STEP 2  Data Cleaning

In [ ]:
# - * (filter)
def drop_common(df, df_other, *args, **kwargs):
    return df.drop(columns = df.columns & df_other.columns, *args, **kwargs)

# - search
df_search.set_index(['id'], inplace = True)
# - info
df_info.set_index(['id'], inplace = True)
# - channels
df_channels = df_channels.add_prefix('creator.')
df_channels.set_index(['creator.id'], inplace = True)
# - ads
df_ads.set_index(['id'], inplace = True)

# drop common columns to avoid clashing
# in this case, only `df_search` and `df_info` have merging conflicts
drop_common(df_search, df_info, inplace = True)

In [ ]:
# - search (with details)
df_search_details = df_search.copy()
# - info
df_search_details = df_search_details.merge(
    df_info, 
    right_index = True, 
    left_on = 'id', 
    copy = False
)
# - ads
df_search_details = df_search_details.merge(
    df_ads, 
    right_index = True, 
    left_on = 'id', 
    copy = False
)

##### STEP 3  Data Inspection

In [ ]:
# take a brief look at our data
df_report(df_search_details, name = 'Search Result')

##### STEP 4  Data Archiving

In [ ]:
dataset.update('youtube_search_details.pkl', df_search_details, proto = pickle_proto)
# verify that we saved the correct data
df_report(dataset.load('youtube_search_details.pkl'), name = 'Search Result (Verification)')