# Data Sampling

## Setup

In [5]:
import sys

!{sys.executable} -m pip install --quiet --user --upgrade pandas==1.*
!{sys.executable} -m pip install --quiet --user --upgrade -r requirements.txt

In [6]:
import IPython
import IPython.display as disp

IPython.core.interactiveshell.\
    InteractiveShell.ast_node_interactivity = "all"

def clear():
    disp.clear_output(wait = True)

def output(disp_os):
    for d in disp_os:
        disp.display(d)

def results_report(disp_os, name = ''):
    output([
            disp.Markdown('---'), 
            disp.Markdown(f'# Results - {name}')
        ] + disp_os + 
        [disp.Markdown('---')]
    )

In [7]:
from dcollect import plugins

from dcollect import api_tiktok as tiktok
from dcollect import api_youtube as youtube
from dcollect import api_youtubei as youtubei

import pandas as pd


def df_from_json(items, *args, **kwargs):
    return pd.json_normalize(items, *args, **kwargs)

def df_report(dfs, full = False, *args, **kwargs):
    dfs = [dfs] if not isinstance(dfs, list) else dfs
    for df in dfs:
        results_report([
            disp.Markdown('## Data Preview'),
            df.head() if not full else df,
            disp.Markdown('## Stats'),
            df.describe()
        ], *args, **kwargs)

def df_report_from_json(items, name = '', full = False, *args, **kwargs):
    return df_report(df_from_json(items, *args, **kwargs), name = name, full = full)

## Data Collection

In [8]:
modules = {'http': plugins.fasthttp()}
headers = None

### YouTube (United States)

Initial setup. Be sure to have your API key ready. For details on how to obtain an API key, read [YouTube Data API Overview, Introduction: Before you start](https://developers.google.com/youtube/v3/getting-started#before-you-start).

In [9]:
# This key is for testing ONLY. DO NOT release to the public!
api_key_testing = 'AIzaSyBKsF33Y1McGDdBWemcfcTbVyJu23XDNIk'
api_key = api_key_testing or input('YouTube Data API Key: ')

#### Search

In [10]:
count = 2
keyword = ''

##### STEP 1  API Object Creation

In [11]:
# create a YouTube API object
youtube_o = youtube.api(
    modules = modules,
    headers = headers,
    key = api_key
)

# create a YouTube Internals API object
youtubei_o = youtubei.api(
    modules = modules,
    headers = headers
)

##### STEP 2  Data Collection

In [12]:
from dcollect.utils.thread import threading, thread


df_search = df_from_json(
    youtube_o.video.search(
        count = count,
        keyword = keyword
    )
)

df_info = None
df_channels = None
df_ads = None

thread.start([
    threading.Thread(
        # - info
        target = lambda: \
            globals().update(
                df_info = df_from_json(
                    youtube_o.video.info(
                        id = df_search['id']
                    )
                )
            )
    ),
    threading.Thread(
        # - channels
        target = lambda: \
            globals().update(
                df_channels = df_from_json(
                    youtube_o.channel.info(
                        id = df_search['creator.id']
                    )
                )
            )
    ),
    threading.Thread(
        # - ad placements
        target = lambda: \
            globals().update(
                df_ads = df_from_json(
                    youtubei_o.ad.placements(
                        id = df_search['id']
                    )
                )
            )
    )
])
thread.join()

##### STEP 3  Data Cleaning

In [13]:
# - ads (filter)
def filter_has_ad(ads):
    return not ads == None 
def filter_has_ad_beginning(ads):
    if ads == None:
        return False
    for ad in ads:
        if ad['kind'] == youtubei.resource.ad.kinds.START:
            return True
    return False
# - * (filter)
def drop_common(df, df_other, *args, **kwargs):
    return df.drop(columns = df.columns & df_other.columns, *args, **kwargs)

# - search
df_search.set_index(['id', 'creator.id'], inplace = True)
# - info
df_info.set_index(['id', 'creator.id'], inplace = True)
# - channels
df_channels = df_channels.add_prefix('creator.')
df_channels.set_index(['creator.id'], inplace = True)
# - ads
df_ads.set_index(['id'], inplace = True)
df_ads['has_ad'] = df_ads['ads'].apply(filter_has_ad)
df_ads['has_ad_at_beginning'] = \
        df_ads['ads'].apply(filter_has_ad_beginning)
df_ads.drop('ads', axis = 'columns', inplace = True)

# drop common columns to avoid clashing
# in this case, only `df_search` and `df_info` have merging conflicts
drop_common(df_search, df_info, inplace = True)

# - search (with details)
df_search_details = df_search.copy()
# - info
df_search_details = df_search_details.merge(
    df_info, 
    right_index = True, 
    on = 'id', 
    copy = False
)
# - channels
df_search_details = df_search_details.merge(
    df_channels, 
    right_index = True, 
    on = 'creator.id', 
    copy = False
)
# - ads
df_search_details = df_search_details.merge(
    df_ads, 
    right_index = True, 
    on = 'id', 
    copy = False
)

##### STEP 4  Data Inspection

In [14]:
# take a brief look at our data
df_report(df_search_details, name = 'Search Results')

---

# Results - Search Results

## Data Preview

,,title,description,time,length,tags,category,stats.like,stats.dislike,stats.comment,stats.view,video.quality,creator.title,creator.description,creator.time,creator.stats.follower,creator.stats.view,creator.stats.post,has_ad,has_ad_at_beginning
id,creator.id,,,,,,,,,,,,,,,,,,,
6bGpGQ08gQs,UCF4Wxdo3inmxP-Y59wXDsFw,피로 물든 미얀마…무차별 발포에 30명 사망 (2021.03.01/뉴스데스크/MBC),"미얀마 군부가 쿠데타를 일으킨지 한 달 째, 미얀마에선 '피의 일요일'이 반복되고 ...",2021-03-01 11:24:24+00:00,0 days 00:02:31,"[MBC, MBC뉴스, 뉴스데스크, newsdesk, 뉴스투데이, newstoday...",News & Politics,4210,123,4224,553576,HD,MBCNEWS,MBC 뉴스 공식 유튜브 채널입니다. 시청자 여러분의 의견과 제보를 항상 기다립니다...,2006-11-05 21:58:51+00:00,1140000,2169439928,101323,True,True

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view,creator.stats.follower,creator.stats.view,creator.stats.post
count,1,1.0,1.0,1.0,1.0,1.0,1.000000e+00,1.0
mean,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
std,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
25%,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
50%,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
75%,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
max,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0

---

##### STEP 5  Data Archiving

In [16]:
pickle_proto = 3
pickle_fname = 'dsamples/youtube_search.pkl'

df_search_details.to_pickle(pickle_fname, protocol = pickle_proto)

# verify that we saved the correct data
df_search_details_check = pd.read_pickle(pickle_fname)
df_report(df_search_details_check, name = 'Search Results (Verification)')

---

# Results - Search Results (Verification)

## Data Preview

,,title,description,time,length,tags,category,stats.like,stats.dislike,stats.comment,stats.view,video.quality,creator.title,creator.description,creator.time,creator.stats.follower,creator.stats.view,creator.stats.post,has_ad,has_ad_at_beginning
id,creator.id,,,,,,,,,,,,,,,,,,,
6bGpGQ08gQs,UCF4Wxdo3inmxP-Y59wXDsFw,피로 물든 미얀마…무차별 발포에 30명 사망 (2021.03.01/뉴스데스크/MBC),"미얀마 군부가 쿠데타를 일으킨지 한 달 째, 미얀마에선 '피의 일요일'이 반복되고 ...",2021-03-01 11:24:24+00:00,0 days 00:02:31,"[MBC, MBC뉴스, 뉴스데스크, newsdesk, 뉴스투데이, newstoday...",News & Politics,4210,123,4224,553576,HD,MBCNEWS,MBC 뉴스 공식 유튜브 채널입니다. 시청자 여러분의 의견과 제보를 항상 기다립니다...,2006-11-05 21:58:51+00:00,1140000,2169439928,101323,True,True

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view,creator.stats.follower,creator.stats.view,creator.stats.post
count,1,1.0,1.0,1.0,1.0,1.0,1.000000e+00,1.0
mean,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
std,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
25%,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
50%,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
75%,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0
max,0 days 00:02:31,4210.0,123.0,4224.0,553576.0,1140000.0,2.169440e+09,101323.0

---