# Playground

In [ ]:
import sys

!{sys.executable} -m pip install --quiet --user --upgrade pandas==1.*
!{sys.executable} -m pip install --quiet --user --upgrade -r requirements.txt

In [17]:
from goodies import *
import pandas as pd

In [49]:


from dcollect import restful
from dcollect import api_youtube as youtube
from dcollect import api_youtubei as youtubei

import numpy as np

# - ads (filter)
def clean_ads_col(df):
    def filter_has_ad(ads):
        return type(ads) == list
    def filter_has_ad_beginning(ads):
        if type(ads) == type(None) or type(ads) != list:
            return False
            
        for ad in ads:
            if ad['kind'] == youtubei.resource.ad.kinds.START:
                return True
        return False

    df['has_ad'] = df['ads'].apply(filter_has_ad)
    df['has_ad_at_beginning'] = \
            df['ads'].apply(filter_has_ad_beginning)
    df.drop('ads', axis = 'columns', inplace = True)




youtube_search_dataset = eda_utils.dataset('dsamples/youtube_search_random_extended_ascii.dataset')


youtube_search_details = youtube_search_dataset.load('youtube_search_details.pkl')
youtube_search_details = df_drop_duplicates(youtube_search_details, level = 'id', keep = 'last')
youtube_search_channels = youtube_search_dataset.load('youtube_search_channels.pkl')

clean_ads_col(youtube_search_details)

df_report(youtube_search_details, name = 'Search details')
df_report(youtube_search_channels, name = 'Search channels')

youtube_search_details.dtypes

---

# Results - Search details

## Data Preview

,title,description,time,length,tags,category,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality,has_ad,has_ad_at_beginning
id,,,,,,,,,,,,,,
-1K_yQO8P_0,J / Feel Your Blaze,J LIVE and LET RIDE\n@SHIBUYA O-EAST 20081231\...,2017-02-09 15:12:20+00:00,0 days 00:05:46,"[LUNA SEA, J LUNA SEA, Jun Onose, wumf, j feel...",Music,UCSJUUn_KQw1T3gff5mRjblg,291.0,3.0,24.0,48009.0,HD,True,True
-49fGh_Hbhw,My Pet Fish are DYING In My Backyard Pond! Res...,üîπBuy ùôÇùôäùôäùôÇùòºùôâ ùòΩùòºùôÑùôèùôé -- https://googansquad.com/...,2021-03-09 00:19:41+00:00,0 days 00:24:57,"[fishing, survial, camping, outdoors, cooking,...",Howto & Style,UCI6gB6eZS0c3ZrjcJq7xAtA,5187.0,93.0,648.0,132494.0,HD,True,True
-4z3GvwXCtM,YUMMY FOOD HACKS || Ultimate Snack Hacks You‚Äôl...,Whether you‚Äôre eating a snack after school or ...,2020-09-11 16:51:36+00:00,0 days 00:10:21,"[DIY, hacks, tricks, craft, crafts, prank, pra...",People & Blogs,UCu_ytbeyzLZfIKWr43QSb5A,76075.0,10207.0,2687.0,10212445.0,HD,True,True
-6-FNvMf56A,Cardi B Meets Cardi E,"For Halloween, Ellen transformed into ‚ÄúCardi E...",2019-10-31 13:00:00+00:00,0 days 00:06:03,"[plm, ellen, ellen degeneres, the ellen degene...",Entertainment,UCp0hYYBW6IMayGgR-WeoCvQ,465187.0,19911.0,14175.0,23949467.0,HD,True,True
-6aXn_zyyiY,26 ID√âES SPLENDIDES √Ä FAIRE QUAND ON S'ENNUIE,ACTIVIT√âS G√âNIALES QUE TU DEVRAIS ESSAYER POUR...,2020-05-06 16:00:00+00:00,0 days 00:13:30,"[fait-maison, art, savoir-faire, astuces, habi...",Howto & Style,UC9TJezP2M1ADmUYVl8hrQ2A,2800.0,248.0,199.0,202986.0,HD,True,True

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,2209,2.176000e+03,2.176000e+03,2.043000e+03,2.208000e+03
mean,0 days 00:16:01.243549117,3.028354e+05,3.100055e+04,1.812509e+04,4.590096e+07
std,0 days 00:44:13.204714620,1.173375e+06,1.727713e+05,1.322898e+05,2.369428e+08
min,0 days 00:00:00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0 days 00:03:33,3.610750e+03,8.975000e+01,1.275000e+02,1.054330e+05
50%,0 days 00:07:05,2.271350e+04,8.220000e+02,1.042000e+03,1.176212e+06
75%,0 days 00:14:38,1.217852e+05,6.850000e+03,5.180500e+03,1.150240e+07
max,0 days 15:13:24,2.111358e+07,4.142776e+06,5.198500e+06,4.418250e+09

---

---

# Results - Search channels

## Data Preview

,id,title,description,time,stats.follower,stats.view,stats.post
0,UCvH6u_Qzn5RQdz9W198umDw,ÌïúÍµ≠Í≥†Ï†ÑÏòÅÌôî Korean Classic Film,ÌïúÍµ≠ÏòÅÏÉÅÏûêÎ£åÏõê Ïú†ÌäúÎ∏å Ï±ÑÎÑêÏóê Ïò§Ïã† Í≤ÉÏùÑ ÌôòÏòÅÌï©ÎãàÎã§. Ïù¥ Í≥≥ÏóêÏÑú Î¨¥Î£åÎ°ú 190Ïó¨Ìé∏Ïùò ...,2011-09-09 00:34:03+00:00,618000.0,250794475,200
1,UCFBzTm13T9xls5nSc8ik5Ag,No Matinho,"Eai galerinha, somos Allana e Israel, moramos ...",2016-10-23 21:30:19+00:00,2750000.0,785655381,263
2,UCJElRTCNEmLemgirqvsW63Q,A Spor,"Galatasaray ,Fenerbah√ße, Be≈üikta≈ü,Trabzonspor ...",2014-08-22 13:47:54+00:00,289000.0,150993596,13038
3,UCqoZcZ5SDuxexeKhCvmqcqg,Ducky Extra,Just Gaming\n\nBe sure to subscribe if you are...,2017-06-29 10:34:36+00:00,1360000.0,122554159,132
4,UCH2958aySlHIuMzpUE8Xe9A,Tex HS,"Ol√° pessoal, eu sou o Tex HS. \n\nEu posto v√≠d...",2016-06-15 12:19:53+00:00,3270000.0,1092270410,1358

## Stats

       stats.follower    stats.view     stats.post
count    2.206000e+03  2.278000e+03    2278.000000
mean     4.460099e+06  2.577245e+09    3077.564091
std      1.116549e+07  8.881584e+09   15005.200171
min      1.250000e+02  1.019200e+04       1.000000
25%      1.790000e+05  5.045696e+07     104.000000
50%      9.740000e+05  2.747941e+08     379.000000
75%      3.130000e+06  1.342517e+09    1264.000000
max      1.060000e+08  9.587260e+10  249671.000000

---

title                                   object
description                             object
time                   datetime64[ns, tzutc()]
length                         timedelta64[ns]
tags                                    object
category                                object
creator.id                              object
stats.like                             float64
stats.dislike                          float64
stats.comment                          float64
stats.view                             float64
video.quality                           object
has_ad                                    bool
has_ad_at_beginning                       bool
dtype: object

In [50]:


youtube_trending_dataset = eda_utils.dataset('dsamples/youtube_trending.dataset')
youtube_trending_df = youtube_trending_dataset.load('youtube_trending_details.pkl')


clean_ads_col(youtube_trending_df)

df_report(youtube_trending_df, name = 'Trending')
#df_youtube_trending = df_load_pickle('dsamples/youtube_trending.pkl')
#df_youtube_trending

#df_youtube_trending.reset_index(level = ['creator.id'], inplace = True)
#df_youtube_trending
#df_youtube_trending[df_youtube_trending.index['id'].duplicated()]
#df_youtube_trending = df_youtube_trending[df_youtube_trending.index.get_level_values('id').duplicated()]
#df_youtube_trending = df_drop_duplicates(df_youtube_trending, level = 'id', keep = 'last')
#df_youtube_trending.head()
#df_youtube_trending.describe()


#len(set(df_youtube_trending.index.droplevel('id')))#.duplicated() == df_youtube_trending.index.duplicated()

#df_update_pickle(df_youtube_trending, 'dsamples/youtube_trending.pkl', overwrite = True)

---

# Results - Trending

## Data Preview

,title,description,time,length,tags,category,creator.id,stats.like,stats.dislike,stats.comment,stats.view,video.quality,has_ad,has_ad_at_beginning
id,,,,,,,,,,,,,,
-aToDFwlM1Y,CARMEN RUSHED TO THE HOSPITAL BECAUSE OF MISCA...,Carmen rushed to the hospital signs of miscarr...,2021-03-08 22:31:08+00:00,0 days 00:13:20,"[Carmen and Corey, Carmen‚Äôs pregnant, Pregnanc...",People & Blogs,UC2rWFYjCHFcnjNnWhnGvv7Q,33575.0,451.0,4741.0,424684.0,HD,True,True
-hAztPfxZEk,FIRST DAY IN OUR NEW HOME! (HECTIC),LAST VIDEO: \r\n\r\n*MAKE SURE OUR POST NOTIFI...,2021-03-09 03:38:11+00:00,0 days 00:14:23,"[queen Naija, Medicine, Queen, Royalty Squad, ...",Entertainment,UCtj45MepAoKxZoyR_Mnt86Q,29000.0,590.0,1699.0,486158.0,HD,True,True
0L8kRN_bPXM,Big Sean - Deep Reverence ft. Nipsey Hussle,Stream/Download ‚ÄúDetroit 2 https://bigsean.lnk...,2021-03-05 20:00:12+00:00,0 days 00:04:00,"[Big, Sean, Deep, Reverence, Getting, Out, Our...",Music,UC7zOpx9wgvGBCDEjujnAPQA,127902.0,954.0,5635.0,1952919.0,HD,True,True
0OPKk1Hwk9s,Armor Plates Rule in Rainbow Six Siege (Animat...,"You almost did it, Rook... Almost...\n\n‚Ä¢ Use ...",2021-03-10 15:15:00+00:00,0 days 00:00:34,"[rainbow six, siege, r6, rainbow six cartoon, ...",Gaming,UCT4ITc4BhHL4CXHYt4Bs9jg,31937.0,98.0,1194.0,270030.0,HD,True,True
0PzWnljCpL0,What Is International Women's Day?,International Women‚Äôs Day is celebrated every ...,2021-02-09 05:22:52+00:00,0 days 00:06:00,"[international women's day, what is internatio...",Education,UCvmofFg-oZc4jvBUIfZbjzg,2147.0,207.0,664.0,168160.0,HD,True,True

## Stats

,length,stats.like,stats.dislike,stats.comment,stats.view
count,219,2.190000e+02,219.000000,209.000000,2.190000e+02
mean,0 days 00:10:22.388127853,1.361335e+05,2339.191781,11710.655502,2.661245e+06
std,0 days 00:10:36.855607074,2.536608e+05,3615.780104,23349.540607,4.127891e+06
min,0 days 00:00:12,5.290000e+02,66.000000,106.000000,1.205100e+05
25%,0 days 00:03:13,1.894400e+04,378.000000,2102.000000,5.857785e+05
50%,0 days 00:08:08,4.790500e+04,958.000000,4101.000000,1.205509e+06
75%,0 days 00:14:02.500000,1.211970e+05,2410.500000,10479.000000,2.982000e+06
max,0 days 01:25:01,1.788405e+06,23309.000000,191504.000000,3.003751e+07

---